[2015-11-25 08:50] sergeyzenchenko opened #2 "Need help?"
Hey James, we are working on same tool in our company. How we can help you with xcake?

[2015-11-25 09:27] jcampbell05 commented on #2
Sure, thanks for the offer :) How along is your tool ? And what things would you need xcake to do ? I am happy to review any PRs you do to help xcake along.

Currently I am focusing on getting Unit Tests into master, I have a working version but I am in the process of BDD Testing it and tidying it up.

[2015-11-25 09:37] sergeyzenchenko commented on #2
I've started work on similar tool like a month ago, but had no time to finish it :(
We want to generate whole project infrastructure using DSL, NO xcode projects inside git :)

I had problems with xcassets and I found your lib from cocoapods issues list.

What's the status of static libs? We have huge project with like 12 subprojects. Each of them is static lib. So I'd like to generate them all.

[2015-11-25 09:38] sergeyzenchenko commented on #2
btw, I thought about DSL in form of yml file, not ruby. So devs can't put any logic into it. But ruby based dsl works too.

[2015-11-25 09:45] jcampbell05 commented on #2
I understand the feeling I actually had a few prototypes of this a year ago but only now got around to open sourcing it and finishing it. I haven't built anything into the DSL for static libs but it should be straight forward enough to implement if you wanted to give it ago.

I started with Ruby DSL just as I was studying how cocoapods does it but I was actually thinking having a yml file may be a

[2015-11-25 10:12] sergeyzenchenko commented on #2
Merging and configuration management is hell in xcode :) We have like 11 developers working on same project.

[2015-11-25 10:16] sergeyzenchenko commented on #2
So my goal is to move everything into custom DSL, not just project structure generation, but also build configurations.

[2015-11-25 10:18] sergeyzenchenko commented on #2
Thi is @webzepter guy from my team. He is ruby dev who is helping with tools like this.

[2015-11-25 10:23] sergeyzenchenko commented on #2
We will finish some other tools on this week and probable will have some time next week for xcake.

[2015-11-25 11:02] jcampbell05 commented on #2
Wow that is quite a lot; So the good news is, Xcake already supports Build configurations but I am aiming to abstract it a bit more than xcode. So your ocnfigurations not only contains your build settings but also your launch arguments (which will be used when generating the schemes).

I need to document this all for you guys. Awesome, the more the merrier!

[2015-11-25 12:05] orta commented on #2
FWIW, I'd suggest _supporting_ but not making yaml the default, turing-complete languages config files work really, really well for projects like this / fast lane as there's a lot you should let the individual do instead of trying to make a mega-config file.

[2015-11-25 12:23] jcampbell05 commented on #2
@orta I agree and I will certainly keep that in mind. I love how cocoapods has achieved this. Podspecs can be in Ruby, JSON or YAML

[2015-11-25 17:31] sergeyzenchenko opened #3 "How to add xcassets directory?"
Hey, how I can add xcassets to the project?

[2015-11-25 18:58] jcampbell05 commented on #3
So it should be included for your target automatically if its in the folder named after your target but you can make sure its included by making sure it matches the pattern specified for include_files

    Project.new do |c|
        c.application_for :ios, 8.0 do |t|
             t.name = "MyApp"
             t.include_files = "./myfiles/*.{c,swift,m,mm,xcassets}"
        end
    end

I hope this

[2015-11-25 19:19] sergeyzenchenko commented on #3
It's adding xcassets, but in form of regular folder, so XCode can't recognise it.

[2015-11-25 19:20] sergeyzenchenko commented on #3
<img width="267" alt="screen shot 2015-11-25 at 9 19 56 pm" src="https://cloud.githubusercontent.com/assets/81555/11407252/4d6c6a92-93ba-11e5-8f9c-f5af857f8b76.png">

[2015-11-25 22:52] jcampbell05 commented on #3
Ah okay. I have a fix for this, I'll push it up tommorow.

[2015-11-26 09:44] #3 closed

[2015-11-26 09:44] sergeyzenchenko commented on #3
Thanks!

[2015-11-26 09:44] jcampbell05 commented on #3
@sergeyzenchenko  Just pushed up a fix into master, please give it a try :)

[2015-11-26 09:45] #2 closed

[2015-11-26 09:47] sergeyzenchenko commented on #3
Works now! Thanks!

[2015-12-11 15:51] petester42 opened #18 "Rename "debug" and "release" to match Xcode"
When Xcode creates a project the names for debug and release are capitalized like so "Debug" and "Release". I've found that some of my scripts to build applications using xcodebuild don't work since they rely on passing the configuration which was either "Debug" or "Release".

It might be a good idea to keep these names consistent with Xcode.

[2015-12-11 16:23] jcampbell05 commented on #18
Good Idea. So the Project structure resolver is what provides the defaults configurations if you don't specify any. It should be a two line fix for us to capitalize it :)

[2015-12-11 19:26] jcampbell05 commented on #18
@petester42  Hey could you check this out and see if it works for you https://github.com/jcampbell05/xcake/pull/19

[2015-12-11 20:09] #18 closed

[2016-01-07 19:39] maximkhatskevich opened #29 "Add command to create example cakefile from existing project."
It's not clear how I can specify which files and under which groups/folders should be added to the project at the moment of creation, only basic project settings. Please clarify.

[2016-01-07 20:01] jcampbell05 commented on #29
For each target you specify the files to include and exclude, like so:

[code]
The syntax used to match file and folder paths is Ruby's Glob syntax - http://ruby-doc.org/core-1.9.3/Dir.html#method-c-glob

I've just noticed I missed those properties off in the documentation so thanks for pointing this out :)

[2016-01-07 20:12] jcampbell05 commented on #29
@maximkhatskevich  I've updated the documentation to explain the `include_files` and `exclude_files` properties.

https://github.com/jcampbell05/xcake/blob/master/docs/Cakefile.md#include-files

Any issues let me know :)

[2016-01-07 20:16] maximkhatskevich commented on #29
That’s great, thank you! What about brand new Xcode Assets catalog? it looks like file, but instead a folder. How do I specify that kind of file/folder in a Cakefile?

Also what are limitations of the Xcake? Is there something that I can not describe in Cakefile what is available in the *.xcodeproj file?

On January 8, 2016 at 01:12:30, James Campbell (notifications@github.com) wrote:

@maximkhats

[2016-01-07 20:22] jcampbell05 commented on #29
Xcake should detect bundles and special folders such as Asset Catalogs or Core Data Models correctly and will add them to the project correctly. In the case of assets you just need to make sure your file pattern matches folders with the extension `.xcassets`.

Here is a list of the current support of Xcake https://github.com/jcampbell05/xcake/blob/master/docs/Xcode%20Project%20Support.md

It shoul

[2016-01-07 20:26] maximkhatskevich commented on #29
Sounds great! Thank you for quick answers.

One last question - is there a built-in tool/command to init Cakefile by reverse-engineering existing *.xcodeproj file so later I can continue controlling my project by just editing this file where it's needed? It would be also a very good starting point, an example to see how things should be expressed.

[2016-01-07 20:33] jcampbell05 commented on #29
@maximkhatskevich  Not right now but it's something I've gave a lot of thought to. There are a lot of things to consider (i.e How do we generate the patterns to match the files and folders)

I may prototype something up to see how we could pull it off. I do want to lower the barrier of entry though :) so a `cakefile init` command I think would really help.  so if you're willing to try it when I bu

[2016-01-07 20:36] maximkhatskevich commented on #29
@jcampbell05 Sure, I would be glad to try it out when you have a beta! Feel free to let me know.

[2016-01-07 20:38] maximkhatskevich commented on #29
@jcampbell05 but I think the command should be ```xcake init```.

[2016-01-07 20:44] jcampbell05 commented on #29
Yup it should, good catch ;)

[2016-01-08 09:30] orta commented on #29
It is probably enough to give a worked replica, and then expect a developer to be able to take that and refactor it down with file/folder globbing patterns etc

[2016-01-10 01:03] intfrr opened #30 "`eval': undefined method `ruby' for #<Xcake::Command:0x007f8eb5ac9900> (NoMethodError)"
According to

`http://www.rubydoc.info/gems/xcake/file/docs/Getting%20Started.md`

The Cakefile must have `ruby Project.new do |c| end` but when I do `xcake` gives me this error:

[code]

But when I remove `ruby` from the Cakefile like you said in the README, it works.

[2016-01-10 12:30] jcampbell05 commented on #30
This looks like a typo in the documentation, thanks for pointing this out. I'll fix this.

[2016-01-11 11:32] jcampbell05 commented on #30
@intfrr  The latest documentation has been fix and the code blocks should show up correctly now. Thanks for reporting this :rocket:.

http://www.rubydoc.info/list/gems/xcake/file

[2016-01-11 11:32] #30 closed

[2016-01-20 16:46] colinta opened #33 "Really interested - I have a few questions, though!"
I haven't delved into the code yet to see if there are easy answers, but I created a quick `XcakeTest` project and I'm playing with the Cakefile.

1. Info.plist - how does this file get created and configured?
2. Bridging Header - same question

[2016-01-20 17:03] jcampbell05 commented on #33
Good questions, right now this project mainly focuses on generating the Xcode project itself.

So for the Info.plist you have to provide it yourself. We default to assuming the Info.plist is located at "<target name>/Supporting Files/Info.plist" but you can override the build settings for this (`target.all_build_configurations.settings["INFO_PLIST"] = "location to plist"`). In the future we may ma

[2016-01-20 19:22] colinta commented on #33
Cool, I'll run with this.  I used RubyMotion for years, and always *really really* loved the way it managed all the aspects of the Xcode project.  For instance, it generated `Info.plist` based on the application settings (configured in a `Rakefile`).  Xcake is closer to the metal, which is a good place to start I think.  I might take a stab at providing an Info.plist generator as a 3rd party thing

[2016-01-20 20:15] colinta commented on #33
Shoot, next question!  Build Phases.  How do they work? :smiley:

[2016-01-20 20:22] colinta commented on #33
Ok, looked through the `build_phase/` code, I *don't* see something that would help me migrate a custom build script.

e.g.
[code]

[2016-01-20 21:14] colinta opened #36 "`class_prefix=` and `project_name=` and `organization=` don't get assigned to `Project` instance"
In the Cakefile,
[code]

These have no effect on the `Project` instance, because this assignment looks like a local variable assignment.  In the short term I replaced these with `self.project_name=`.

[2016-01-20 21:48] jcampbell05 commented on #36
Yeah in an earlier version you had to write the following which worked:

[code]

We could return to this or we could do something simpiler such as :+1:

[code]

or just

[code]

[2016-01-20 21:57] jcampbell05 commented on #33
So right now the build phases are inferred, that is we look at the files you want to include, the target types and we generate the build phases accordingly.

If you're looking to automate uploading to fabric then I would recommend @krausefx.https://github.com/fastlane/fastlane by @krausefx.

[2016-01-20 22:35] colinta commented on #36
Interesting... another thought, might be a bit too "magic":

[code]

[2016-01-20 22:37] colinta commented on #36
Instead of `Project do` I think that `project do ...` would be a good place to put these project configurations.  It matches well with `target do ...`.

[code]

[2016-01-20 22:39] colinta commented on #36
Final call is up to you, I was just reporting the error.  Happy to brainstorm, though!  The `Project.new` or `Project do` syntax seems off to me (am I creating a *new* project?), but as a plain method it makes sense.  I wouldn't be opposed to using a file-wide `Project.create do` wrapper, either (that's how it works in RubyMotion actually).

You *could* even encourage `@project_name = "foo"`, but

[2016-01-20 22:48] colinta commented on #33
Well, that's not what this build phase does, but that part isn't even all that important.  Another example, we have a build phase that looks for `fit/fdescribe/fcontext` to warn about focused specs.

[code]

[2016-01-20 22:52] colinta commented on #36
Actually, I think I like the `defined?(project_name)` code the most!  It offers a succinct Cakefile.  You'd have to maintain a white list of properties.

[code]

[2016-01-21 09:16] jcampbell05 commented on #36
So the file wide wrapper or method would be more explicit but could intro some boilerplate. On the other hand it could be more understandable especially for people coming from Rubymotion

We could instead whitelist or introduce methods to configure the project like you have suggested. The project in general has fewer things to configure so I think it is acceptable.

I really like what @orta, @segi

[2016-01-21 09:43] jcampbell05 commented on #36
I think I like those properties on further reflection

[2016-01-21 10:08] jcampbell05 commented on #36
So I've been thinking about this for a while and had a play around with it. I think exposing a project method would be the easiest.

[code]

Whitelisting I think would require the author of the Cakefile to be aware of those special properties and for us to also whitelist them. I think the method is a good tradeoff (2 extra lines).

And as you point out it is consistent with what we already have :)

[2016-01-21 10:25] #36 closed

[2016-01-21 10:29] jcampbell05 commented on #33
Yeah we need to get custom build phases in, thanks for your PR. I'll take a look :)

[2016-01-21 10:50] jcampbell05 commented on #36
Thanks for brainstorming with me, really helped to nail down something! :)

[2016-01-21 16:44] colinta commented on #36
Cool! I dig it! Happy to help! 😆

[2016-01-22 18:44] colinta commented on #33
Next question is about CocoaPods and the xcconfig files it generates.  Do you include those in your project somehow?  Or do you just add them to `include_files` manually?  A quick "do this if you use CocoaPods" would be awesome, it feels like I'm missing a crucial step.

Atm, it's not finding Crashlytics, which happens to be the first `import` in my AppDelegate (so I'm guessing other pods are "mis

[2016-01-22 21:47] jcampbell05 commented on #33
So right now we don't support XCConfig but I would love to in the future (even if its just the ability to set them for targets).

You can use cocoapods today by running xcake and running pod install (I use it in our app which uses them together). There is one bug I am working on fixing where if you overwrite a project integrated with cocoapods using xcake it loses the xcconfigs set in the project,

[2016-01-22 21:55] jcampbell05 commented on #33
@colinta  let me know if you get it working or not :)

[2016-01-23 16:10] jcampbell05 opened #40 "Refactor Build Phases Roadmap"
This issue is to keep track of the improvements or features we need with Build Phases in Xcake.

- [x] Add support for inferring build phases from target i.e Adding embed build phases for a watch app.
- [x] Add support for custom build phases by the `Cakefile` author. i.e Custom build scripts.
- [x] Continue support for inferring build phases based on files included i.e add copy files build phase

[2016-01-26 17:30] colinta commented on #33
I was able to get past `import Crashlytics`, but the simulator never booted up.  Odd.  I have to put this down for now, I'll get a chance to work on it again on Wednesday.  Thanks!

[2016-01-26 18:21] jcampbell05 commented on #33
@colinta  no worries. I hope we can solve that.

[2016-01-29 11:41] jcampbell05 opened #43 "Preprocessor definitions are overwritten"
If you specify definitions for all_configurations it is over written if you then do a specialised definition for a configuration.

[2016-01-30 06:22] kdawgwilk opened #44 "Helper method for generating UI Test targets?"
I saw there is a helper method to add a unit test target for an app but I was wondering if there is one for UI test targets as well

[2016-01-30 11:59] jcampbell05 commented on #44
I haven't added one yet but I will add this in the next release coming out this week. When will you need this by?

[2016-01-30 15:26] kdawgwilk commented on #44
I have been working on a project template setup script and was checking out xcake to help with reducing merge conflicts for future template projects. No rush!

[2016-02-02 17:03] Nodepad opened #45 "Unable add folder references and static libraries"
Currently I can't add folder reference to the project. I think it happens because of following lines in file `copy_resources_build_phase.rb`.
[code]
Also third party static libraries is automatically added to copy resource build phase and as I understood there is no way to add them to Link with static library build phase.
Also I think there is no way to create custom build phase too?

[2016-02-02 17:52] jcampbell05 commented on #45
Custom build phases is being added into 0.6.x which should be released fairly soon. Which phases would you need?

We don't support folder references yet but I can add this for you if you like as well as tweaking static libraries to be added to the correct phase ?

[2016-02-02 22:19] Nodepad commented on #45
I need to add custom shell script for crashlytics. Probably it even can be added to 'after save' hooks, but this is for later.
I'd like working folder references. About static libraries, maybe it's better to give user more flexible api to add static libraries, not just add all libraries to correct phase?
I'm working on continuous deployment (fastlane) for iOS project and think it will be good to u

[2016-02-03 16:35] gimenete opened #46 "“YourApp.app” couldn’t be opened because you don’t have permission to view it"
I'm trying to use xcake. First problem I had was the Info.plist file missing. But I already fixed that copying a very basic Info.plist file from other app (I checked it and has nothing special).

Now I have this error when trying to run the app:

I'm using XCode 7.2 (7C68) and the Cakefile is pretty much the default one (only adding some source files). I'm attaching a screenshot of the navigation

[2016-02-03 17:15] jcampbell05 commented on #46
Interesting, it could be that Xcode is unable to find your project. Could you zip it up and send it to james@supmenow.com I'll take a look :)

[2016-02-03 17:50] gimenete commented on #46
Well, you know what? Before sending you the zip I wanted to check everything again. And... now it works. I checked and I had the same problem again. But I zipped the directory, unzipped it again (removing the previous directory first) and voilá, now it works. After making more tests I was able to reproduce the problem again but I run `xcake make` and then it worked, and I haven't found a way to re

[2016-02-03 18:25] jcampbell05 commented on #46
Thank you :) let me know if it happens again.

[2016-02-04 23:05] colinta commented on #33
Using my recent PRs I'm able to build and run tests.  Running `pod install` was essentially setting the xcconfig, which I wanted to do via Xcake so I *don't* have to run pod install every time.

[2016-02-04 23:05] #33 closed

[2016-02-04 23:26] jcampbell05 commented on #33
@colinta Yeah I want to update xcake so you can set these and maybe in the future it could merge into an existing project if you preferred that behavior.

or thinking longer term I was thinking of integrating cocoapods into xcake via the plugin system it has :)

[2016-02-13 08:28] jcampbell05 commented on #45
@Nodepad So most of the API changes are complete so feel free to pull down master and try and implement the fixes yourself :)

[2016-02-22 12:29] jcampbell05 commented on #40
Will aim to achieve some sort of abstract build phase system by v0.6.5 - v0.7.0

[2016-02-22 12:30] jcampbell05 commented on #45
@Nodepad 0.6.0 is released now so it should be safe to add this. What would be the ideal syntax for you ?

[2016-02-22 12:31] jcampbell05 commented on #44
@kdawgwilk so if I add a `ui_tests_for <target>` method would this be a good syntax for you ?

[2016-02-23 14:41] jcampbell05 commented on #45
Thanks for your PR :)

[2016-02-23 14:41] #45 closed

[2016-02-24 14:54] jcampbell05 opened #52 "XCconfig issues with Cocoapods"
Xcake modify these settings somehow so cocoapods doesn't always want to integrate its xcconfigs.

[2016-02-24 14:56] jcampbell05 opened #53 "This module isn't testable"
Xcode should set testability build settings to yes when creating a testing target.

[2016-03-01 16:16] jcampbell05 opened #54 "Archive for iOS creates generic archive."
Seems like a bug crept in for 0.6.2.

[2016-03-08 10:22] jcampbell05 opened #55 "Swift code is optimised for debug configurations."

[2016-03-08 10:23] jcampbell05 commented on #54
This issue is caused by https://github.com/CocoaPods/CocoaPods/issues/4178

[2016-03-08 10:23] #54 closed

[2016-03-09 18:11] jcampbell05 opened #56 "Auto-Detect ASSETCATALOG_COMPILER_APPICON_NAME"
We should auto-detect the correct `ASSETCATALOG_COMPILER_APPICON_NAME` value somehow.

Maybe use a sensible default like "AppIcon" or detect an app icon in the include_files ?

[2016-03-21 14:38] jcampbell05 opened #57 "Add more committers to Xcake."
After reading up on @ashfurrow 's really great blog post on how building a community is great for open source. I took a look at how Artsy did that for Moya.

I too don't want Xcake to die and for it to continue to be used in the Long run.

What I'm looking for is people who can:

Reply to questions.
Help diagnose/fix issues people have.
Help form a roadmap for future releases.
All when you have ti

[2016-03-21 22:23] Nodepad commented on #57
Hi, I'm interested to contribute to xcake. I don't have much time right now, but I want to contribute.
From my perspective xcake needs two feature to add in near future:
* Ability to add folder references
* Handling of localised resources
I'll try to make pr for first feature this week.

[2016-03-22 09:39] jcampbell05 commented on #57
@nodepad Awesome! I'll add you to my contributors :) :rocket:

[2016-03-22 23:23] petester42 commented on #57
Sounds good. I'll help out when I have time.

[2016-03-28 16:23] 0111b opened #58 "Add possibility to create aggregate targets"

[2016-03-28 23:06] jcampbell05 commented on #58
Thanks for your issue @0111b  I'm always open to Pull Requests but I'll look into seeing if we can get this in for you. Whats your paticular use case ?

[2016-03-30 08:56] #57 closed

[2016-03-30 08:57] jcampbell05 commented on #53
Cannot reproduce in latest Xcake 0.6.x

[2016-03-30 08:57] #53 closed

[2016-04-16 05:46] maximkhatskevich opened #60 "HOW-TO Configure unit test target"
It's not clear at all how do I configure Unit Test target. There is only one mention of unit tests in documentation currently:

http://www.rubydoc.info/github/jcampbell05/xcake/master/file/docs/Cakefile.md#Tests

I need to be able to control at least it's name and it's files location. Ideally I would like to be able to configure it the same way I can configure application target. Right now by plac

[2016-04-16 05:52] maximkhatskevich opened #61 "Minor issue in documentation"
Their is a minor issue in documentation.

According to documentation, to include files into a target we should do like this (http://www.rubydoc.info/github/jcampbell05/xcake/master/file/docs/Cakefile.md#Include_Files):

`
target.include_files = "DifferentAppFolder/*.*"
target.include_files << "OtherFolder/*.*"
`

in fact it does not work at all, the `<<` operator leads to empty target (no files in

[2016-04-16 15:50] jcampbell05 commented on #61
Great catch @maximkhatskevich, could you submit a PR to fix this ?

[2016-04-18 22:10] maximkhatskevich commented on #60
Any comments on this please?

[2016-04-18 22:16] petester42 commented on #60
More helpful info can be found at https://github.com/jcampbell05/xcake/blob/master/docs/Cakefile.md under the targets section.

[2016-04-18 22:21] maximkhatskevich commented on #60
@petester42 I've learned all documentation, but didn't understand how I can configure the unit test target, or, moreover, multiple unit tests targets. Could you please give me an example or give me some more details? I would really appreciate that.

[2016-04-18 22:22] maximkhatskevich commented on #60
@petester42 Do you mean this section https://github.com/jcampbell05/xcake/blob/master/docs/Cakefile.md#tests ?

[2016-04-18 22:23] petester42 commented on #60
Yes

[2016-04-18 22:25] maximkhatskevich commented on #60
What is says is that the target is going to have a complementary unit tests target, but I have no idea how to control this unit tests target name, properties, include files, have multiple unit tests targets for the same application target.

[2016-04-18 22:28] petester42 commented on #60
I'm pretty sure you can do this

[code]

[2016-04-18 22:29] maximkhatskevich commented on #60
Wow! Probably if I would know Ruby more - it would be obvious for me, but I'm iOS dev. Okay, thanks, let me try!

[2016-04-18 22:35] maximkhatskevich commented on #60
@petester42 Awesome! That works, thank you so much! I'm going to submit a pull request for this as well. Note: you should use `unit_tests_for` instead of `unit_tests_for_target`.

[2016-04-18 22:37] petester42 commented on #60
No problem. Thanks for documentation update in advance :)

[2016-04-18 22:51] #61 closed

[2016-04-18 22:51] #60 closed

[2016-04-27 16:00] jcampbell05 opened #64 "agvtool breaks due to project being in XML format"
The project should be in legacy plist format to ensure `agvtool` works.

I can workaround this by running `xcproj touch` in a after_save hook but we need a better way.

[2016-04-27 20:33] maximkhatskevich opened #65 "Ambiguity about how we access/set configuration build settings"
In this file https://github.com/jcampbell05/xcake/blob/master/docs/Cakefile.md we can find 2 different ways f doing the subject:

`configuration.settings["KEY"] = "VALUE"`

and

`configuration.build_settings["ENABLE_BITCODE"] = false`

The question is what is the right way? If both supported - we should deprecate one and go for another one (I'm down for the shortest one), to avoid confuses. Please

[2016-04-28 09:07] jcampbell05 commented on #65
I think we should just use `settings`, I believe `build_settings` is for an earlier version of the tool.

[2016-05-02 12:44] therealbnut opened #66 "How do you add `.xcconfig` files to a project?"
I've read the tests and much of the source code, however I don't seem to be able to get `.xcconfig` files working. Looking at #62 they seem to be implemented.

My `Cakefile` has this line:

     project.all_configurations.configuration_file = "Base.xcconfig"

I'm expecting to see something set here:

<img width="488" alt="screen shot 2016-05-02 at 10 42 49 pm" src="https://cloud.githubusercontent.

[2016-05-02 12:56] therealbnut commented on #52
IIRC Cocoapods supports the following:
 * `$(inherited)` in settings, you can fall back from a target config to a project one.
 * Including the pod xcconfig from your own xcconfig:
[code]
This should let you use both Cocoapod and Xcake `.xcconfig` files.

[2016-05-03 10:16] jcampbell05 commented on #66
As long as the string you set points to a Xcconfig file they should work.

Which version of xcake are you using and could you send your cake file so I can recreate

[2016-05-03 10:18] jcampbell05 commented on #52
Awesome I'll add some documentation about this !

[2016-05-03 10:19] jcampbell05 commented on #52
@therealbnut would you like to join our team of contributors ?

[2016-05-03 10:20] therealbnut commented on #52
That'd be great, thanks :) I'm actually just working on a PR...

[2016-05-03 10:24] therealbnut commented on #66
xcake `0.6.7` installed via `bundler` on OSX.

**Cakefile:**
[code]

**Base.xcconfig** (in the same directory):
[code]

[2016-05-03 10:51] jcampbell05 commented on #66
@therealbnut thanks, I'll see if I can recreate this and issue a bug fix.

[2016-05-03 10:52] jcampbell05 commented on #52
@therealbnut  awesome I've added you, welcome to the team!

[2016-05-03 10:53] therealbnut commented on #66
Let me know if you want the `Gemfile.lock` or anything like that.

[2016-05-03 10:53] therealbnut commented on #52
thank you :)

[2016-05-05 14:13] #43 closed

[2016-05-06 14:03] therealbnut commented on #66
It's still WIP, but this branch seems to address the issue for me:
https://github.com/jcampbell05/xcake/compare/therealbnut-adjust-xcconfig
It seems strange that it ever worked, so it would be good if you could verify if the old code works works for you @jcampbell05. Also whether or not this fixes it for you :)

It's quite possible I've got some weirdness in my setup. I've done a lot of hacking ar

[2016-05-06 16:35] jcampbell05 commented on #66
For the `instance_eval` help identify the line of the Cakefile when there is an error, I'll check out the PR and give it a go.

[2016-05-07 01:21] therealbnut commented on #66
I'm not 100% sure what you meant. However, `instance_eval` takes these arguments: `(code, [string identifying the file], [number for the first line])`. The line argument defaults to `1`, so I've left it off, the file string defaults to gibberish, so I've added the Cakefile path.

[2016-05-09 08:31] jcampbell05 commented on #66
Okay great :)

[2016-05-09 11:57] madbat opened #69 "Xcode groups don't link to the corresponding directory"
Currently the project groups generated by Xcake are not set to match the corresponding directory in the filesystem.
Is there anything preventing Xcake from setting a PBXGroup's path attribute to point to its directory?

[2016-05-09 12:28] jcampbell05 commented on #69
@madbat I believe we have some code that should do this but clearly it's not working. It should be as simple as just setting that attribute, there is no reason it couldn't do this.

You are welcome to submit a PR.

[2016-05-09 14:49] madbat commented on #69
@jcampbell05 cool, I'll try 👍

Do you have any pointers on where to look?

[2016-05-09 17:24] jcampbell05 commented on #69
@madbat  This is the method where we take a path to a folder and create a group.

https://github.com/jcampbell05/xcake/blob/master/lib/xcake/xcode/project.rb#L129

[2016-05-16 18:07] maximkhatskevich opened #70 "Specify Frameworks (including third-party ones) to be included in the project/target"
Is there a way to do so? Something like this:

target.all_configurations.frameworks = ["UIKit"]
target.all_configurations.frameworks << "CoreLocation"
target.all_configurations.frameworks << "Src/Frameworks/FacebookSDK/FacebookSDK.framework"

[2016-05-16 18:12] jcampbell05 commented on #70
@maximkhatskevich  `system_frameworks` should allow you to add a system library if you set it like so:

[code]

[2016-05-16 18:17] maximkhatskevich commented on #70
System frameworks seem to be adding automatically, the biggest question for me is how to add 3d party frameworks by specifying path explicitly? TO not do it manually by drag-n-drop after you re-generated xcodproj file.

[2016-05-16 18:22] jcampbell05 commented on #70
@maximkhatskevich  You should be able to specify framework paths in the `include_files` property that adds the file. Xcake will detect its a framework and add it to the correct phase.

[2016-05-16 18:27] maximkhatskevich commented on #70
This was my initial assumption, but no. It adds it just as regular source files, and adds frameworks as folders, while they are not presented in "Frameworks" section.

[2016-05-16 19:02] jcampbell05 commented on #70
Ah okay thats a bug, can you upload me a example project recreating the problem ?

[2016-05-16 19:03] maximkhatskevich commented on #70
Okay, will do

[2016-05-16 19:20] maximkhatskevich commented on #70
Here is example project. First of all, it adds "Info.plist" file to "Copy bundle files" phase, even if I set explicitly path to info file. Download Facebook SDK (https://origincache.facebook.com/developers/resources/?id=facebook-ios-sdk-current.zip)
 and unarchive under "Frameworks" folder. Uncomment line 20 in Cakefile and re-generate project file to see how it will add framework as regular folde

[2016-05-20 22:22] jcampbell05 opened #71 "Code signing appears to not always be set correctly."
At some point xcode now no longer selects the code signing team or the release scheme code signing type.

We should somehow help xcode out here.

- Release build setting should be distribution by default
- And team should be auto-set (if possible)

[2016-05-27 09:33] #71 closed

[2016-05-27 09:37] jcampbell05 commented on #64
Should be in XML format if the Xcodeproj version supports the current Xcode, no easy workaround unless the Ruby serialiser is complete.

[2016-05-27 09:37] #64 closed

[2016-05-27 09:37] jcampbell05 commented on #70
@maximkhatskevich  Sorry for slow response, I'll run this and see if I can get a fix :)

[2016-05-27 16:55] maximkhatskevich commented on #70
Thank you! I look forward to your updates.

[2016-05-30 22:54] maximkhatskevich opened #76 "Random errors during making project"
When I try to make even basic project (Cakefile: https://dl.dropboxusercontent.com/u/73350479/Cakefile) I'm getting errors like this:

![screen shot 2016-05-31 at 3 54 46 am](https://cloud.githubusercontent.com/assets/2624646/15659408/8047fbea-26e3-11e6-9d57-be7d96896170.png)

[2016-05-30 22:56] maximkhatskevich commented on #76
Looks like errors in source code. Any ideas? Please help. How can I downgrade to previous stable version?

[2016-05-31 09:36] jcampbell05 commented on #76
Looks like there are some changes in Xcodeproj 1.0 which break Xcake. Do you have a project that I can have a look at to fix this?

You should be able to downgrade if you set the version in your Gemfile, if you use the `gem install` command you can also use the ` -v` flag.

[2016-05-31 09:48] maximkhatskevich commented on #76
I figured out how to downgrade, tried few older versions, it does not help. You assumption might be right, it looks like issues in external dependency. What do you mean "Do you have a project that I can have a look at to fix this" - I'm not sure. I gave you Cakefile (see the link in my original post) that can not be processed by Xcake, so I do not have project yet (I can't generate even a very bas

[2016-05-31 09:51] jcampbell05 commented on #76
@maximkhatskevich  I'll have a look, I should be upgrading my project soon to CocoaPods 1.0 so I'll be able to see these in mine too.

[2016-05-31 09:56] maximkhatskevich commented on #76
It's kind of urgent, it blocked me yesterday from moving forward at work, so now I have to look for a workaround. I would very appreciate your help with this as soon as you can!

[2016-05-31 09:59] maximkhatskevich commented on #76
Another example of output when I put some build settings configuration inside target:

![screen shot 2016-05-31 at 2 58 24 pm](https://cloud.githubusercontent.com/assets/2624646/15670703/a0c11f2c-2748-11e6-8b07-66e60992c37c.png)

[2016-05-31 10:38] jcampbell05 commented on #76
@maximkhatskevich  Were you setting those settings using `all_configurations` ?

[2016-05-31 10:45] maximkhatskevich commented on #76
Yes, sure! My Cakefile was working absolutely fine, I didn't re-generate project for few weeks and now tried to do so without changing anything in Cakefile (but I upgraded to latest Xcake first and updated system, probably Xcode upgraded as well since my last usage of Xcake), and it failed.

[2016-05-31 10:56] jcampbell05 commented on #76
@maximkhatskevich Okay I think there was a PR I merged which potentially broke the settings for you. I'll update the docs but in my Cakefile I am doing this:

[code]

[2016-05-31 10:58] maximkhatskevich commented on #76
I'll try in an hour this and let you know, but even if I use almost empty basic Cakefile there is anothere error - see my first posted screenshot, can you reproduce it on your end?

[2016-05-31 11:11] jcampbell05 commented on #76
@maximkhatskevich I'll give that a go, I've just updated to Cocoapods 1.0 and will be running the test suite.

[2016-05-31 11:13] maximkhatskevich commented on #76
Thank you! I look forward to any updates on this from you :)

[2016-05-31 12:57] maximkhatskevich commented on #76
@jcampbell05 after changing how I set build settings for "all_configurations" - everything works! Thank you very much!

[2016-05-31 12:58] maximkhatskevich commented on #76
Let me know if you want me to update documentation, I would be happy to do so!

[2016-05-31 13:21] jcampbell05 commented on #76
@maximkhatskevich  that would be a huge help if you could :) sorry for not doing this myself.

[2016-05-31 13:32] maximkhatskevich commented on #76
Okay, I'll do it. Not right now, but later today or tomorrow (until that you can forward everyone to this page). Hope that works!

[2016-05-31 14:01] jcampbell05 commented on #76
@maximkhatskevich  thats perfect, thank you for all of your feedback. Keep it coming!

[2016-05-31 14:43] maximkhatskevich commented on #70
@jcampbell05 any updates on this? This is important as well. Can you reproduce that issue? It adds Frameworks as folders, not as frameworks.

[2016-05-31 14:46] jcampbell05 commented on #70
I've got it on my desktop :) going to give it a go.

[2016-05-31 14:49] maximkhatskevich commented on #70
Cool, thanks! Look forward to your update on this. For now I add frameworks manually after generating project file with Xcake.

[2016-05-31 14:51] jcampbell05 commented on #70
@maximkhatskevich  Really sorry about that, it sounds painful :(

[2016-05-31 15:25] maximkhatskevich commented on #70
@jcampbell05 okay, when you fix this issue it will be clear how to include 3d party frameworks, but how do I specify non-default system frameworks in a target? By default Xcode include Foundation and UIKit, but I need to add AdSupport system framework. Any ideas? Thanks in advance!

[2016-05-31 15:43] jcampbell05 commented on #70
@maximkhatskevich You should be able to add it like so

[code]

[2016-05-31 16:08] maximkhatskevich commented on #70
Yes, that works too! Thank you :) I'll put that into documentation as well.

[2016-05-31 16:40] maximkhatskevich opened #77 "Does not set "PROVISIONING_PROFILE" at all"
Even if I specify correct profile identifier and it's available/downloaded in Xcode - the result project file does not have any explicit value for "PROVISIONING_PROFILE" setting and shows default "Automatic".

[2016-06-02 13:28] maximkhatskevich opened #78 "Configuration-specific flags seems to be ignored"
If I have something like this in my Cakefile:

`
target.debug_configuration :Debug do |configuration|
    configuration.settings["SWIFT_OPTIMIZATION_LEVEL"] = "-Onone"
end
`

Then this setting is not set in the result project file (stays default).
![screen shot 2016-06-02 at 6 27 38 pm](https://cloud.githubusercontent.com/assets/2624646/15746369/b79b82d4-28ef-11e6-8449-d29fafc82108.png)

[2016-06-02 13:30] jcampbell05 commented on #78
@maximkhatskevich I've noticed this too. Does this work for the other settings like Release or does this effect them all.

This is the same project you gave me right ?

[2016-06-02 13:33] maximkhatskevich commented on #78
All other settings seems to be working well, if I notice anything else - I'll report for sure. It's in my work project.

[2016-06-04 23:10] maximkhatskevich commented on #78
@jcampbell05 it looks like any flags that I set per configuration are ignored by Xcake, they are not set after I run Xcake.

For example, I have this inside my target configuration:

target.debug_configuration :Debug do |configuration|

        #=== Common

        configuration.settings["VALIDATE_PRODUCT"] = "NO"
        configuration.settings["COPY_PHASE_STRIP"] = "NO"

        configuration.set

[2016-06-04 23:11] maximkhatskevich commented on #78
None of these flags are set in a freshly made project file for this target/configuration after I run Xcake. Please help. It looks like core functionality regression!

[2016-06-04 23:25] jcampbell05 commented on #78
Oooo yeah that defiantly looks like one. I'll work on a unit test for this as well as fixing the swift to no be optimised for non-release builds.

I wonder if its the way you're accessing the configuration too.

I've been able to override settings like BITCODE.

[2016-06-04 23:29] maximkhatskevich commented on #78
It seems like it works when I access configuration like this:

target.all_configurations.each do |configuration|

        configuration.settings["ENABLE_BITCODE"] = "NO"

end

but it does not work when I access them later one by one like this:

target.debug_configuration :Debug do |configuration|

    configuration.settings["SWIFT_OPTIMIZATION_LEVEL"] = "-Onone"

end

[2016-06-04 23:30] jcampbell05 commented on #78
Hmm I I wonder if there is some subtle behaviour with the

`target.debug_configuration :Debug do |configuration|`

In theory it should return the same configuration but I wonder if there is a regression where it makes a new configuration or returns a copy of the configuration but doesn't modify the actual configuration itself. I'll dig into this.

[2016-06-04 23:35] maximkhatskevich commented on #78
Yes, please. If it's something that's hard (or takes long time) to fix - it would be good to know what is the latest previous version of Xcake that has not that issues and still safe to use with latest Xcode. Thanks!

[2016-06-06 10:12] jcampbell05 commented on #78
@maximkhatskevich Looking into this right now, trying to narrow down the precise issue so I can implement a unit test to fix this.

[2016-06-06 10:23] maximkhatskevich commented on #78
thank you! Sure, see attached
[Cakefile.txt](https://github.com/jcampbell05/xcake/files/300168/Cakefile.txt)

[2016-06-07 09:51] jcampbell05 commented on #78
@maximkhatskevich Just ran it on my system and it seems to pick the correct build settings up can you tell me which version of xcake you are using ?

Just run `xcake --version`

[2016-06-07 10:36] maximkhatskevich commented on #78
0.6.18

[2016-06-07 10:37] maximkhatskevich commented on #78
Xcode 7.3.1

[2016-06-07 10:42] maximkhatskevich commented on #78
Btw, I run via Fastlane, try that approach too, maybe it's fastlane plugin issue? I'll try without fastlane and let you know.

[2016-06-07 13:43] maximkhatskevich commented on #78
Fastlane does not change anything, it still does not work. Still ignores properties set to a specific configuration, only flags that set inside "target.all_configurations.each" block are presented

[2016-06-07 14:01] maximkhatskevich commented on #78
It definitely gives me a copy of configuration when I access it like this: "target.debug_configuration :Staging do |configuration|" and never apply made changes to real project configurations. But I think I found a solution/workaround - inside "target.all_configurations.each" block use "if configuration.name == 'MyConfiguration1' do <apply any attributes only for this configuration> end".

[2016-06-07 14:08] jcampbell05 commented on #78
Ohh weird, so the all_configurations works.

[2016-06-07 14:11] maximkhatskevich commented on #78
Yes, "all_configurations" was working all the time. After I complete experiments with my Cakefile - I'll definitely update documentation for the project, will put real world comprehensive example Cakefile with comments. Hope fully will find time for this this weekend. So I'm good so far, don't worry. Thank you for your help - your assumption about "copy that never apply settings back to real confi

[2016-06-07 14:11] #78 closed

[2016-06-07 14:25] jcampbell05 commented on #78
@maximkhatskevich  no problem, thank you for using this tool and putting up with the bugs you find. I promise I will find them and I will destroy them 💥 !

[2016-06-07 17:48] jcampbell05 opened #79 "Implement XCConfig capbabilites to Xcake"
Possibly as a plugin ?

[2016-06-28 21:13] brennantaylor opened #80 "New molinillo release is broken with xcake?"
molinillo is resolving to 0.5.0 and that seems to be causing a problem.

[code]

[2016-06-28 21:16] jcampbell05 commented on #80
@brennantaylor Do you have an example project as well? I'll try this out, I've been using it with `0.4.0`

[2016-06-28 21:24] brennantaylor commented on #80
`0.4.5` works. Just xcake init and that explodes for me.

[2016-06-28 21:36] brennantaylor commented on #70
Any word on this? I imagine any sizable project includes 3rd party dependencies. This is a blocker for the project I am working on at the moment.

[2016-06-28 21:48] brennantaylor opened #81 "project.project_name doesn't seem to exist anymore?"
It appears to be `project.name` but the Cakefile from `xcake init` still uses `project_name` and all the documentation still refers to `project.name`

[2016-06-28 21:57] brennantaylor opened #82 "all_configuration.each doesn't seem to work"
The following doesn't seem to set the bridging header in the project file.

[code]

[2016-06-28 21:57] brennantaylor commented on #82
It doesn't write `SWIFT_OBJC_BRIDGING_HEADER` anywhere in the project file in fact.

[2016-06-28 22:20] brennantaylor commented on #82
This works:

[code]

[2016-06-28 22:37] jcampbell05 commented on #82
@brennantaylor  Do you have an example project for this  bug?

[2016-06-28 22:37] jcampbell05 commented on #81
Good catch! I will make sure to update this.

[2016-06-29 04:45] maximkhatskevich commented on #82
@brennantaylor take a look on my comments for this issue https://github.com/jcampbell05/xcake/issues/78 I think that's related. Basically you should access specific configurations inside the

`target.all_configurations.each do |configuration|`

loop by using

`if configuration.name == 'MyConfiguration1' do <put_target_specific_settigns_here> end`

Hope that makes sense.

@jcampbell05 I should have

[2016-06-29 05:24] maximkhatskevich commented on #70
@brennantaylor should not be a blocker, for now just add 3d party frameworks manually after you regenerated project. Usually you do not re-generate project very often, right?

[2016-06-29 08:42] jcampbell05 commented on #82
@maximkhatskevich No problem, I'm the same. Sorry for not fixing these issues as well :)

[2016-06-29 08:43] jcampbell05 commented on #70
@brennantaylor Let me know if the work-around from @maximkhatskevich  isn't enougth for you and I'll try and get a fix up today.

[2016-06-29 18:50] brennantaylor commented on #82
The example project is the auto generated project with `xcake init`.

[2016-06-29 18:52] brennantaylor commented on #70
@maximkhatskevich Yeah that's what I've been doing. I add them as normal files and just uncheck and check the box in the target editor.

Right now we're trying to split up our project into smaller modules so I'm generating new projects over and over.

[2016-06-29 19:18] jcampbell05 commented on #82
Cheers! I'm taking a look

[2016-06-29 19:18] jcampbell05 commented on #70
@brennantaylor okay, sorry about that. Will work on a fix right away!

[2016-06-29 19:33] brennantaylor commented on #81
@jcampbell05 I wanted to mention thanks for this project it's helping me alot!

[2016-06-29 20:00] jcampbell05 commented on #82
@maximkhatskevich @brennantaylor  I think I have discovered the issue for this

Basically the `all_configurations` returns all of the configurations created at that moment. The bug is caused by implicit configurations.

When your Cakefile doesn't specify any configurations we automatically generate the Debug and Release Configurations as sensible defaults.

However these are generated later on in

[2016-06-29 20:05] maximkhatskevich commented on #82
Sure thing, I didn't mention, but before access configurations inside target definition, I have explicit list of all configurations on project level like this:

`project.debug_configuration :Debug`
`project.release_configuration :Staging`
`project.release_configuration :RC`
`project.release_configuration :Production`
`project.release_configuration :AppStore`

[2016-06-30 14:09] jcampbell05 commented on #80
Cool in a future version I'll remove this dependency as @segiddins tole me we could just use Ruby's `tsort`.

[2016-06-30 15:45] #69 closed

[2016-07-01 08:14] #82 closed

[2016-07-01 08:14] jcampbell05 commented on #81
@brennantaylor thank you :) keep filling these issues these are a really big help!

[2016-07-01 08:17] #81 closed

[2016-07-01 08:19] jcampbell05 commented on #76
I think both of these issues should be fixed in master.

[2016-07-01 08:19] #76 closed

[2016-07-01 08:19] jcampbell05 commented on #77
@maximkhatskevich is this related to the configuration issues ?

[2016-07-01 10:52] #80 closed

[2016-07-01 11:06] jcampbell05 commented on #65
This should be fixed in the documentation on master.

[2016-07-01 11:06] #65 closed

[2016-07-01 14:40] jcampbell05 commented on #70
Okay looked into how we do this, so currently this is the state of library support in Xcake:

- System Frameworks are added via `system_frameworks`
- System Static Libraries are added via `system_libraries`
- Third Party Static Libraries are automatically added and detected when you added them via the `include_files` property.

Currently as you have pointed out Xcake is lacking the code to do the

[2016-07-01 14:41] maximkhatskevich commented on #70
Great, thanks!

[2016-07-01 15:12] colinta commented on #77
It sounds to me like the value is just empty - my understanding is that it has to be set manually, e.g. `target.release_configuration.settings["PROVISIONING_PROFILE"] = "[provisioning profile id]"`

[2016-07-01 15:55] jcampbell05 commented on #77
@colinta  Yeah Xcake defaults to setting it to Automatic unless you specify it in the Cakefile as above.

@maximkhatskevich  Do you have an example Cakefile.?

[2016-07-01 16:00] maximkhatskevich commented on #77
@jcampbell05 yes, it's 100% related to the issue about accessing configurations, it's not actual anymore. See the right way of accessing configuration settings in this thread https://github.com/jcampbell05/xcake/issues/78

[2016-07-01 16:00] #77 closed

[2016-07-01 16:25] jcampbell05 commented on #79
Will do this if requested or needed by any users.

[2016-07-01 16:30] #70 closed

[2016-07-04 10:33] jcampbell05 commented on #66
Should be implemented in https://github.com/jcampbell05/xcake/pull/68

[2016-07-04 10:33] #66 closed

[2016-07-05 13:57] jcampbell05 opened #91 "Remove system libraries UI when no libraries are integrated."
Don't print anything when no libraries are integrated.

[2016-07-06 02:08] colinta opened #92 "How do we include files (e.g. they are in the project file picker) but not include them in the compiled sources?"
e.g. `Info.plist`?  Every time I compile I have to un-include it from the "Target Membership" settings.

[2016-07-06 02:26] colinta commented on #92
Ahh ok, `CopyResourcesFileReferenceInstaller` handles this.  And there are *some* `plist` files that you might want to include in the bundle, so just returning `false` based on the extension might not cut it.  We would need to include the target (?) in `can_install_node`, and check to see if the node in question *is* the `settings['INFOPLIST_FILE']`

[2016-07-06 02:26] #92 closed

[2016-07-06 02:27] colinta commented on #92
(not just the target - the specific configuration, since `INFOPLIST_FILE` is a per-configuration setting.

[2016-07-06 09:50] jcampbell05 commented on #92
@colinta So basically we shouldn't be including the Info.plists that may be used for the App Information? Have I got that right ?

[2016-07-06 13:15] colinta commented on #92
Ideally yes, but I couldn't figure out a simple way to differentiate it, and it's a minor issue. If you think it's possible, we can reopen and work on it!

Do you include the Support folder in the included sources? That's how I got to this point. Info.plist *doesn't* have to be in the Xcode project in order to be used by the compiler, but of course I like having it in the project.

[2016-07-06 13:42] jcampbell05 commented on #92
@colinta I currently include all files under the folder with the same name as the Application Target, so I would imagine that would include the Support folder.

It should be possible to have it in the project but not added to the build phase. I'm not sure `0.6` has the infrastructure to do this but I am also working on refactoring the file installer system for `0.7` to simplify cases like this as

[2016-07-06 13:43] jcampbell05 commented on #92
I'll create a markdown document on how I envision it could work if you're open to it!

[2016-07-06 14:35] colinta commented on #92
Definitely!  Would love to read about it, and hopefully I can throw in a thought or two. :-)

[2016-07-07 00:07] jcampbell05 opened #94 "Xcake 0.7.X Roadmap"
Here are at 6 Months after Xcake's release and we have just pushed the last version of `0.6.x`

This has been our most successful release ever, Spanning 25 minor versions, 6 Months and over 1,000 Downloads. We've had our most number of external contributions to this version as well.

In this series we overhauled the entire generator system in order to easily control what happens in each order via

[2016-07-07 09:05] jcampbell05 commented on #92
@colinta  So I have a rough outline of the goals for `0.7.0` here and how we will implement the new file system to fix things like these.

https://github.com/jcampbell05/xcake/issues/94

Let me know if you think it's missing any details, we can flesh it out as it's built.

[2016-07-07 09:13] #55 closed

[2016-07-07 21:35] colinta commented on #94
Sounds like a great direction.

The Ello app also needs *Share Extension* target support, so if that's easy to accomplish during this refactor, it would make it easier for that project to adopt xcake!

[2016-07-08 08:34] jcampbell05 commented on #94
@colinta I can look at how Xcake pull's that off. I'm sure we should be able to do it since the Watch app is already an extensions and Xcake already supports that.

[2016-07-12 09:24] jcampbell05 commented on #94
@colinta  so the initial file installer refactor has been implemented which simplifies the system. One side effect is xcode now selects the right groups when adding to a group

I think next I'll work on adding Extensions, UI Testing and Aggregate Testing Support.

After some testing I think `0.7`will be good to go.

[2016-07-12 12:40] colinta commented on #94
You've been busy! I'll try out what you've uploaded so far.

[2016-07-12 13:19] jcampbell05 commented on #94
@colinta Great, any feedback or regressions let me know. It's not pushed yet so you should be able to install from `master`.

[2016-07-13 21:44] dchohfi opened #98 "Defining framework with public headers"
Hey guys, first of all: congratulations! This is an awesome project and have lots of potencial. Thank you for starting and maintaining that.

Right now I can create targets for watch, today extension and a shared common framework, the only problem that I'm facing is how to set those headers on the framework to be access publicly on those targets?

Tried to find a solution on Xcodeproj repo but cou

[2016-07-14 09:25] jcampbell05 commented on #98
@dchohfi Thank you for the kind words, so right now this is something I'm still trying to figure out.

In the current version of Xcake in `master` any headers will automatically be added a Headers Build Phases. The version on RubyGems currently lacks this functionality.

However I still need to figure out how to add some granularity to this system. People writing Apps won't want their Headers bein

[2016-07-15 00:48] sfkaos opened #101 "Cannot 'make'"
Hello,
This seems like a pretty awesome framework. However, I'm currently not able to run `xcake make` on my XCode project.

My current environment is as follows:
XCode version: 7.3.1 (7D1014)
Ruby 2.1.2 (rbenv)
rbenv 0.4.0

Gems:
*** LOCAL GEMS ***

aasm (4.2.0)
actionmailer (4.2.5.1)
actionpack (4.2.5.1, 4.2.3, 4.2.0, 4.1.8, 4.1.0)
actionpack-action_caching (1.1.1)
actionpack-page_caching (1.0.2

[2016-07-15 08:50] jcampbell05 commented on #101
Interesting this seems to be an issue with the https://github.com/CocoaPods/Cork framework Xcake uses to output to the console.

@orta do you know anything about this error?

[2016-07-15 09:03] sfkaos commented on #101
@jcampbell05 If it helps I found this. Which looks related. https://github.com/pry/pry/commit/f7c06f7e68b433293304dac30f786c6e92e00542

[2016-07-15 11:16] orta commented on #101
Somehow you're using something that requires win size, before `require 'io/console'` [is called](http://ruby-doc.org/core-2.3.1/IO.html#class-IO-label-io-2Fconsole), would love to know how/why

[2016-07-15 11:22] jcampbell05 commented on #101
@orta The code for printing out the feedback is contained in this file
https://github.com/jcampbell05/xcake/blob/master/lib/xcake/ui.rb

We just create the `Cork::Board` instance and use all the various instance methods (i.e `notice`) like so when ever an event happens such as the project being created.

This is interesting though as on my machine I don't get this issue, so could it be environment

[2016-07-25 11:13] bluelucifer commented on #101
@jcampbell05 it causes from cork gem 0.1.0
in this command can't help on this problem. "gem install cork"
do not install from "gem install" command
I solve this problem from this command
git clone https://github.com/CocoaPods/Cork.git
cd Cork/
gem build cork.gemspec
gem install cork-0.1.0.gem

cork fix this bug but not updated yet.

[2016-07-27 20:41] irpainel opened #102 "Different Build Configurations in the schema"
Hi all,

I'm trying to migrate my existing project to xcake and I'm facing a problem in the configurations.
In my existing project the schema has different build configuration for each phase, like this:
![screenshot_7_27_16__5_28_pm](https://cloud.githubusercontent.com/assets/2839084/17191437/47c2913a-5420-11e6-9bd6-e5a1531ad44c.png)

I want to achieve this in xcake but I can't figure out how to d

[2016-07-27 20:47] maximkhatskevich commented on #102
@irpainel looks like Xcake does not support that currently. I would recommend to use one scheme for one purpose (with same build configuration for all phases). One for Debug. One for Adhoc staging builds, one for AppStore, etc. Especially with Xcake, when you do not need to manage it all manually. That brings more clarity for developers (you can quickly see which scheme is currently selected), tha

[2016-07-27 21:29] irpainel commented on #102
@maximkhatskevich! that makes sense, i'm going to try to do that. Thanks for the reply :D

[2016-08-03 08:35] jcampbell05 commented on #102
Thanks for replying @maximkhatskevich! Lets us know if you need anything else @irpainel

[2016-08-03 08:35] #102 closed

[2016-08-03 08:35] jcampbell05 commented on #101
Okay I will close as an issue with Cork.

[2016-08-03 08:35] #101 closed

[2016-08-03 13:02] maximkhatskevich commented on #44
@jcampbell05 what's the status on creating UI tests target using Xcake? I'm going to include the "ui_tests_for <target> ..." syntax into the sample Cakefile I'm preparing now, okay?

[2016-08-03 14:01] jcampbell05 commented on #44
@maximkhatskevich The code is merged into `master` the documentation just needs updating, that will be a big help thank you (y)

[2016-08-03 15:13] maximkhatskevich commented on #44
Okay, I'm going to mention this in the docs then.

[2016-08-03 15:21] maximkhatskevich commented on #44
@jcampbell05 pushed docs update to the same branch, see above ^^

[2016-08-03 16:25] #44 closed

[2016-08-04 19:43] felipesabino opened #105 "Xcake crashes when adding third-party frameworks"
I am currently trying to add a third-party framework but Xcake is crashing right when it reaches my `.Framework` file.

Here is Xcake's output log with the stacktrace:

[code]

Some environment info:

| - | Version |
| --- | --- |
| xcake | 0.6.25 |
| fastlane-plugin-xcake | 0.1.0 |
| fastlane | 1.97.2 |
| ruby | 2.2.3 |
| OS X | 10.11.6 |
| XCode | 7.3 |

[2016-08-11 14:43] maximkhatskevich opened #106 "Create "Folder references" instead of "Groups" to organize source files"
At least optionally. At least for files that we add into the project with "Include files" command explicitly. My use case is that I keep everything synchronized in Finder and Xcode anyway, so if I regenerate project - it will recreate the needed project structure again. Creating "groups" instead of Folder references does not make sense - just creates extra work for developers.

[2016-08-11 15:11] jcampbell05 commented on #106
@maximkhatskevich I could look into exposing a property on the project what do you think ?
`project.added_folders_type = :folder_reference`

[2016-08-11 15:11] jcampbell05 commented on #105
@felipesabino  sorry for slow response, do you have an example Cakefile to hand ?

[2016-08-11 15:20] maximkhatskevich commented on #106
@jcampbell05 yes, something like this is exactly what I would need.
Maybe something like

[code]

[2016-08-11 17:57] felipesabino commented on #105
@jcampbell05 Here it is https://gist.github.com/felipesabino/17e428881f3ba3d588a659495226ad17

[2016-08-11 18:01] maximkhatskevich opened #107 "Support paths outside of the project root dir"
Something like...

[code]

... is not supported now, but is useful when you share some code between different projects (like iOS and server side, etc.).

[2016-08-11 19:20] jcampbell05 commented on #107
@maximkhatskevich good point, will have to check out how Xcode handles this. Keep the feature requests coming though. lots for 0.7 :)

[2016-08-11 21:15] maximkhatskevich opened #108 "Unit test targets come with "Host Application" unset"
even despite that definitions of the unit test targets are inside corresponding application target.

Cakefile:

[code]

[2016-08-11 21:46] jcampbell05 commented on #108
Interesting, we do have a line that should set this here:
https://github.com/jcampbell05/xcake/blob/master/lib/xcake/project/sugar.rb#L67

Maybe the path is incorrect ?

[2016-08-11 21:49] maximkhatskevich commented on #108
What do you mean "path is incorrect"? We do not set path to host app/target directly, right? I thought it has to be set automatically to the target that encloses unit test target definition, isn't it?

[2016-08-11 21:50] maximkhatskevich commented on #108
Could you try to generate a project using Cakefile provided and check if host app will be set for you or not?

[2016-08-11 21:56] maximkhatskevich opened #109 "undefined method `ui_tests_for'"
Tried to regenrate project using Cakefile from https://github.com/jcampbell05/xcake/issues/108 and got this error. Any ideas?

[2016-08-11 21:57] maximkhatskevich commented on #109
Just updated to latest Xcake available via "gem install".

[2016-08-11 22:03] jcampbell05 commented on #109
@maximkhatskevich I need to publish `master` to RubyGems as it has the new `ui_tests_for`

[2016-08-11 22:05] maximkhatskevich commented on #109
@jcampbell05 okay, no rush for now, just wanted to make sure this is something we know about. Please, let me know when it's published.

[2016-08-11 22:05] #109 closed

[2016-08-11 22:35] maximkhatskevich commented on #108
Another details: application build schemes come not configured properly for testing at all, looks like this out of the box:

<img width="879" alt="screen shot 2016-08-11 at 11 35 44 pm" src="https://cloud.githubusercontent.com/assets/2624646/17607211/4c91a702-601c-11e6-88e1-836e9b5b37e2.png">

[2016-08-11 22:58] maximkhatskevich commented on #106
@jcampbell05 probably this is not needed, for now, because it produces a strange issue in Xcode 7.3.* http://stackoverflow.com/a/36429157

[2016-08-11 22:58] #106 closed

[2016-08-15 16:03] jcampbell05 commented on #101
@sfkaos A new version of the library causing this issue should be released if you `bundle update`

[2016-08-22 07:15] jcampbell05 commented on #94
Should be releasing this week @maximkhatskevich  @colinta

[2016-08-30 10:28] jcampbell05 commented on #94
0.7 is released, just need to get a test passing for https://github.com/jcampbell05/xcake/pull/103 @maximkhatskevich - Will push this in a 7.1

[2016-08-30 10:29] jcampbell05 commented on #107
@maximkhatskevich  do you know how Xcode handles this ?

[2016-08-30 10:29] jcampbell05 commented on #105
@felipesabino Thanks for this, investigating this now :)  Do you know which framework is having the issue ?

[2016-08-30 10:30] jcampbell05 commented on #58
Should be implementing this into 0.7 requires a bit of work to add a special target type in Xcake.

[2016-08-30 14:26] maximkhatskevich commented on #94
Great! Thanks, dude!

[2016-08-30 14:29] maximkhatskevich commented on #107
@jcampbell05 based on my experience, Xcode handles this very well, no problem. I can add manually files from any location outside project root directory, and I can put it anywhere inside logical groups hierarchy. It supports adding individual files as well as entire folders and associate groups with it. Does it answer your question?

[2016-08-30 14:36] maximkhatskevich commented on #58
@jcampbell05 What does it mean "aggregate targets"? Just wondering :)

[2016-08-30 14:49] maximkhatskevich commented on #92
Hey guys. Just wanted to share with you my approach on this subject. I keep all source files in one folder (with subfolders, of course) - "Src". Then I put all resources (like assets catalog, fonts, etc.) under "Res" folder. Then I point to these folders in the "include_files" property. But I keep all "Info.plist" files (for app target, for unit tests targets, etc.) under separate folder called "I

[2016-08-30 14:56] jcampbell05 commented on #58
@maximkhatskevich It's a special target type in Xcode whose sole purpose is just to let you configure multiple targets to built at once.

So Aggregate Target C could be configured to trigger target A and B to be built at the same time :) Which can be cleaner than making Target A a dependency of B since A may not be related to B (i.e if you're building a multi-platform app and you have a OS X and i

[2016-08-30 15:02] jcampbell05 commented on #92
@maximkhatskevich  Could be interesting to have a write up about that approach. At some point I want to build a tool for setting up a new project which could have structures like that.

If we still wanted to solve this problem in Ccake then:

We changed the behaviour in Xcake for header files so in the future you will have to explicitly have them included. In theory we could do something like that

[2016-08-30 15:19] maximkhatskevich commented on #58
Interesting. Never heard of that. Something new to Xcode 8 which I missed? Anyway, I'll google it. Thanks!

[2016-08-30 15:21] maximkhatskevich commented on #92
So you want me to include that idea as recommendation somewhere in Xcake Readme or Cakefile documentation? @jcampbell05

[2016-08-30 15:26] maximkhatskevich opened #110 "Sample Cakefile iOS framework target"
I can provide sample/template Cakefile for iOS framework target, which contain all the settings Xcode sets by default to that kind of target when you create one manually from Xcode. What do you think @jcampbell05 ?

[2016-08-30 16:20] jcampbell05 commented on #58
@maximkhatskevich been around a while just not used that often unless you build libraries.

[2016-08-30 16:20] jcampbell05 commented on #110
@maximkhatskevich  sure go for it :)

[2016-08-30 16:21] jcampbell05 commented on #92
@maximkhatskevich  maybe documentation :)

[2016-08-30 17:08] maximkhatskevich commented on #92
Okay!

[2016-09-06 17:00] jcampbell05 commented on #94
@maximkhatskevich  UI Tests should be pushed in 0.7.1 :) Will close this and start working on all the issues you've raised :)

[2016-09-06 17:00] #94 closed

[2016-09-06 17:00] #56 closed

[2016-09-06 17:03] jcampbell05 commented on #29
@maximkhatskevich  Going to start working on this shortly, I'll create a branch you can use to try this out.

[2016-09-06 17:29] maximkhatskevich commented on #29
Wow, I look forward to it!

[2016-09-06 22:51] amotion opened #111 "System frameworks seem to be pointing to the wrong place when using Xcode 8"
When I add system frameworks to my Cakefile, they appear as red framework boxes in the project source tree.

I inspected the full path and noticed they are pointing to `/Applications/Xcode-beta.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS9.3.sdk/System/Library/Frameworks/` but with Xcode 8 beta 6, that folder is actually in `iPhoneOS10.0.sdk`.

I've temporarily fixed

[2016-09-06 22:57] maximkhatskevich commented on #111
@amotion I guess this is something built-in (hardcoded?) into Xcake binary and we just need to add support for the latest Xcode version into Xcake itself. @jcampbell05 am I right? Can we make it dynamic somehow so Xcake always pick it up correctly from Xcode?

[2016-09-06 23:08] amotion commented on #110
@maximkhatskevich would love to see an example of how to include a framework target as a linked framework/library in the application_for target. Is that part of your sample template?

[2016-09-06 23:11] jcampbell05 commented on #111
@amotion @maximkhatskevich cc/@orta

This is actually handled by `xcodeproj`internally we use it's `add_system_framework` to add the frameworks to the target.

You can see the code here https://github.com/CocoaPods/Xcodeproj/blob/master/lib/xcodeproj/project/object/native_target.rb

It appears that it defaults to a internally hard coded path and version of the SDK or it uses the path provided by t

[2016-09-06 23:11] maximkhatskevich commented on #110
@amotion sure, take a look at this line: https://github.com/jcampbell05/xcake/blob/master/docs/Sample/Cakefile#L298
So far it worked well for me.

[2016-09-06 23:14] maximkhatskevich commented on #111
@jcampbell05 make sense. Keeping that in mind - it looks like no need to take any action on our side and try to invent a workaround inside Xcake to solve that temporary minor issue.

[2016-09-06 23:20] amotion commented on #110
@maximkhatskevich Ah ok, for me that ends up pointing to a framework in the SDK folder, but my framework is defined as a target in my project:

<img width="158" alt="screenshot 2016-09-06 19 19 16" src="https://cloud.githubusercontent.com/assets/79704/18294398/d83d7494-7466-11e6-86e5-bf7159f40176.png">

I'm trying to get UniverseKit linked here:

<img width="575" alt="screenshot 2016-09-06 19 20 0

[2016-09-06 23:31] amotion commented on #111
@jcampbell05 Thanks for the fast reply! I've added that config line but am still seeing references to the 9.3 folder in the project file:

[code]

However, I do see that the SDKROOT flag was set in the build configuration section:

[code]

[2016-09-06 23:32] amotion commented on #111
I've also tried using the latest `xcodeproj` from their `master` branch which looks like it tries to fix Xcode 8 issues. Will keep digging into it!

[2016-09-06 23:38] maximkhatskevich commented on #110
@amotion oops, sorry. Yes, my example is about system/Apple frameworks. I never tried to include frameworks manually this way, so I'm not using Xcake for this.

Depending on the purpose of having that custom framework next to application target, I would recommend you to use one of the alternative ways listed below (you decide which one suites better for your needs).

1) Share files. Create a folde

[2016-09-06 23:39] jcampbell05 commented on #111
@amotion  awesome! let me know if you find anything!

[2016-09-06 23:55] #40 closed

[2016-09-07 14:47] amotion opened #112 "Adding a Messages Extension"
Is there any way to add an iMessage Extension via xcake?

<img width="766" alt="screenshot 2016-09-07 10 46 53" src="https://cloud.githubusercontent.com/assets/79704/18316399/6fe17e4a-74e8-11e6-8bb3-08bd9bf7f99e.png">

[2016-09-07 14:56] amotion commented on #112
Figured it out! You have to set `target.type = :messages_extension`

[2016-09-07 14:56] #112 closed

[2016-09-07 19:42] jcampbell05 commented on #112
@amotion glad its sorted, I'll try and add this to the docs!

[2016-09-09 12:18] walpoletim-bjss commented on #79
have just come across xcake - Its fantastic.  We however use xcconfig files to configure or projects to being able to have xccake spitting out xcconfig files wold be amazing

Thanks

[2016-09-09 12:26] jcampbell05 commented on #79
@walpoletim-bjss thanks for the kind words :) I've reopened this so I can start planning it.

[2016-09-12 21:27] maximkhatskevich opened #113 "Ability to set development team (and ProvisioningStyle) in Xcode 8 via Cakefile"
It's a per-configuration target build setting in Xcode 8, but it's not being set as other build settings. Next to "DevelopmentTeam" setting, Xcode also sets "ProvisioningStyle" setting. See screenshot below:

<img width="481" alt="screen shot 2016-09-12 at 10 34 20 pm" src="https://cloud.githubusercontent.com/assets/2624646/18453867/1a433a00-7939-11e6-859d-f04c286c9b89.png">

[2016-09-12 21:44] maximkhatskevich commented on #113
Looks like it might be done like this (for a macOS app target):

`Ruby
if configuration.name == "Debug"

    configuration.settings["CODE_SIGN_IDENTITY"] = "Mac Developer"
    configuration.settings["DEVELOPMENT_TEAM"] = "XXXX" # desired team id here

end
`

[2016-09-12 21:45] #113 closed

[2016-09-12 22:00] jcampbell05 commented on #113
@maximkhatskevich Cool so do you think we should have a document about the new xcode 8 signing settings ?

[2016-09-12 22:05] maximkhatskevich commented on #113
Yes, a note about it is worth to be added in the Readme file, I think. I'm investigating now how it works.

Side note: when I generate project file using latest Xcake (0.7.1) and first time launch with Xcode 8, there is a button like "Enable automatic signing". If I hit this button - Xcode uses the settings I mentioned above, but entire Xcode file is being replaced with something that looks simila

[2016-09-12 22:23] maximkhatskevich opened #114 "Wrong default "TEST_HOST" value (at least for macOS app target in Xcode 8)"
If create a macOS app project with manually with Xcode, then unit tests target has "TEST_HOST" setting set like this:

[code]

If create project file with Xcake - it looks like this:

[code]

Not sure if it is a macOS versus iOS, Xcode 7 versus Xcode 8 difference, or both. Need to investigate.

[2016-09-12 22:25] maximkhatskevich opened #115 "NO need to set "TEST_HOST" and "BUNDLE_LOADER" build settings for UI tests target"
Currently the attempt to run tests with UI tests target generated by Xcake fails with error message like this:

"Invalid configuration: MyAppUITst sets both USES_XCTRUNNER and TEST_HOST"

After short investigation I found out that we should not set "TEST_HOST" and "BUNDLE_LOADER". After fixing https://github.com/jcampbell05/xcake/issues/108 everything should start working out of the box after gene

[2016-09-13 08:50] jcampbell05 commented on #113
@maximkhatskevich I'm thinking it may be ASCII Plist, I think someone is working on a library Xcake will use in the future to support this.

For now you either have to convert the Xcode file afterwards using a tool (There is a tool for this but I forget which) or update Xcodeproj to a version built for Xcode 8 since this is the library that supports it.

[2016-10-12 11:17] jcampbell05 commented on #115
Is this new for Xcode 8?

[2016-10-12 11:21] maximkhatskevich commented on #115
@jcampbell05 as I remember, it was happening in Xcode 7 too. The point is that UI tests are working a bit different than unit tests - the difference is described above.

[2016-10-12 11:35] jcampbell05 commented on #115
@maximkhatskevich  Cool will update this not to be set for UITests.

[2016-10-18 17:46] jcampbell05 opened #116 "Update Xcake Example file"
Add legacy swift version.
Add UI Test Example

[2016-10-18 17:46] jcampbell05 opened #117 "Add legacy swift version flag"
We should set this in Xcake.

[2016-10-18 17:48] maximkhatskevich commented on #117
What's the difference from #116?

[2016-10-18 17:49] maximkhatskevich commented on #116
I can handle this, if you want.

[2016-10-18 18:03] jcampbell05 commented on #116
@maximkhatskevich  That would be great :)

[2016-10-18 18:04] jcampbell05 commented on #117
@maximkhatskevich  One is the example of how to switch between swift 2 and 3. this is just to make sure Xcake sets the setting to a default value when generating the project so xcode doesn't complain.

[2016-10-18 18:06] maximkhatskevich commented on #117
got it, so this one seems to be on you.

[2016-11-06 05:35] menriquez commented on #29
@maximkhatskevich @jcampbell05 Really interested in this feature as I need the ability to add UITest targets and schemes dynamically to an existing xcode-built (Ionic) project...I was wondering if you guys believed this to be possible with Xcake and/or had any example code or references to how it could be done.

I am an IC who is working with a client who needs to build many (100s) of branded apps

[2016-11-08 09:37] divergio opened #118 "Documentation Request: Sample Project"
More than a sample `Cakefile`, I think a working sample project would be very illuminating for beginner Xcake users.

I'm trying to convert a project now, and although Xcake will `make` just fine, the resulting project file can't be parsed by Xcode. I assume this is due to an error in the `Cakefile`.

Of course, more **complete** `Cakefile` validation would help solve this issue as well, but I thi

[2016-11-08 10:38] divergio opened #119 "Including a file in multiple targets"
I have a project that uses multiple targets inside one project. Each target is a different version of the app, i.e. a target for `CakeMania`, a target for `CakeMania for Kids`. I believe this is a fairly standard way of managing app variants.

Most of the files are shared between the targets, but some targets include additional SDKs and of course some different files (for icons, built-in assets, c

[2016-11-08 15:23] jcampbell05 commented on #119
Ah nots great, Xcake should definatly be doing the first screenshot. I'll try and recreate this locally and issue a fix.

[2016-11-08 15:23] jcampbell05 commented on #118
@divergio Thanks for raising this, I'll try to build a better example and get it working with all Xcode versions.

[2016-11-12 15:15] maximkhatskevich opened #120 "Xcake creates non-functional unit test target"
This particular issue happens when host target is a framework. As it has been reported a long time ago, Xcake does not connect properly host targets with their unit tests target(s), so unit tests are not working out of the box after generating project file with Xcake.

Checkout code from this branch https://github.com/maximkhatskevich/MKHOperationFlow/tree/xcake-broken-tests then run "xcake make"

[2016-11-12 15:16] maximkhatskevich commented on #120
The only workaround for now is to remove created by Xcake unit tests target and create one manually using standard Xcode functionality, then include unit tests source files into the newly created target. After this, everything works properly.

[2016-11-13 12:08] jcampbell05 commented on #120
So if host target isn't an app it breaks ?

[2016-11-13 14:53] maximkhatskevich commented on #120
It doesn't work anyway out of the box, Xcake does not connect unit test target to the host target, so when you hit "Cmd+U" nothing happens. As a workaround - I have to go manually into the host target scheme and in the "Test" section add unit tests target to the list. After this, if host target is an app - it starts working. If host target is a framework - it still does not work, giving me a stran

[2016-11-15 00:17] maximkhatskevich commented on #118
@divergio to be honest I think that having a whole sample project just does not make sense. The sample Cakefile(s) are pretty self-explanatory. This is the idea behind Xcake - you write easy to read declarative configuration file and Xcake takes care about generating whole Xcode project based on this.

After learning the sample files, If you do not understand what's going there - probably you need

[2016-11-15 00:21] maximkhatskevich commented on #119
Agree this is important and should be a priority.

[2016-11-15 00:27] maximkhatskevich commented on #29
@jcampbell05 my original question was a mix of 2 questions.
1) Sample Cakefile - this is done in #110 and #116.
2) Reverse-engineering Cakefile for a given existing Xcode project by calling something like "xcake init". First of all, this feature is actually not needed. It's better to take a look on sample Cakefile(s), write your own as well as re-organize project files and generate project file fr

[2016-11-15 00:30] maximkhatskevich commented on #29
@menriquez if I understood your question correctly, you are asking about how to configure UI tests for a target, right? If so - then please take a look on our sample Cakefile here (under "/example/app/" folder - you can find it directly here while it's not merged into main branch https://github.com/jcampbell05/xcake/tree/feature/example/example/app).

[2016-11-15 00:32] maximkhatskevich commented on #29
@menriquez also please note, that currently UI tests are not working properly yet, we are working on it, here are the related issues #108 and #115.

[2016-11-15 00:37] maximkhatskevich commented on #92
@jcampbell05 my approach on project internal structure is clear visible/explained in the sample Cakefile for an app target, so no extra explanations are needed anywhere else, I think.

[2016-11-15 12:41] jcampbell05 commented on #92
:) great, SGTM

[2016-11-15 12:42] #110 closed

[2016-11-15 12:42] #116 closed

[2016-11-15 12:42] jcampbell05 commented on #119
:) Going to look at this this weekend and try to fix all the XC 8 issues

[2016-11-15 13:53] divergio commented on #118
@maximkhatskevich Thanks for your reply.

Perhaps I wasn't clear, I'm not referring to beginner Xcode users, I'm referring to people trying out xcake for the first time or perhaps just evaluating xcake for use in their project. The relatively large project with multiple collaborators that I'm working on is exactly why I am interested in xcake (I'm **so** sick of digging through `pbxproj` files to

[2016-11-15 13:56] maximkhatskevich commented on #118
@divergio okay, I see your point. I'll try to prepare something like this for you soon.

[2016-11-16 08:08] chiahsien opened #122 "How to add custom scripts to Build Phases?"
First of all, thanks for your work, it's awesome!

I've searched the issues and read all the docs, but I can't find a way to add custom scripts to `Build Phases`.

For example, if I use Fabric's Crashlytics to collect crash reports, I need to add a script to Build Phases.

How can I do that?

[2016-11-16 10:12] jcampbell05 commented on #122
Yes that's possible 😀 reason it's probably not documented yet is we are still working on the API for it.

But for now you can see how to use it in this pull request

https://github.com/jcampbell05/xcake/pull/37

[2016-11-17 08:18] chiahsien commented on #122
Thanks, it works!

[2016-11-17 08:18] #122 closed

[2016-11-17 15:31] chiahsien opened #123 "How to set complier flags for certain files?"
I've searched the docs and examples and issues, but can't find the answer.
I need to set compiler flags `-fno-objc-arc` to certain files, how can I do that?

[2016-11-18 04:24] chiahsien commented on #120
I have same issue, here is my Cakefile.

[code]

As you can see, it's very simple, I just create an app target and an unit test target. But the unit test target fails to connect its host to the app target.

<img width="730" alt="2016-11-18 12 09 46" src="https://cloud.githubusercontent.com/assets/1225437/20418538/61539c1c-ad89-11e6-8bb5-28a306700214.png">

I've tried to set unit test's `TEST_HOST`

[2016-11-18 08:26] jcampbell05 commented on #123
@chiahsien right now you can't since nobody has needed it. But I can implement it quickly, would something like this work ?

`target.include_files 'folder/file.c', '-fno-objc-arc'`

[2016-11-18 09:01] divergio commented on #123
This is pretty old, but this is the way CocoaPods does it:
http://www.fabiancanas.com/blog/per-file-arc-in-cocoapods

The DSL doesn't support per-file exclusion, but supports it on a subspec level.

This works fine for `-fno-objc-arc`, but maybe per-file compiler flags make sense because they can support any kind of flags (and it is supported in Xcode's interface).

As an alternative to your propo

[2016-11-18 09:23] chiahsien commented on #123
Awesome!
I use Cocoapods too, so `target.include_files 'folder/file.c', :flags => '-fno-objc-arc'` looks good to me.

One more thing, if I already include files via `folder/*.*`, would this make duplication?

[2016-11-18 10:06] jcampbell05 commented on #123
@chiahsien so my aim would be to avoid duplication, so Xcake tries to reduce your include / exclude statements down to the minimum needed to represent what you define in your `Cakefile`

So in your case if a file is included twice once with a flag and once with, I aim to make it de-duplicate and include the flag. That way doing this would work:

[code]

[2016-11-18 12:43] divergio commented on #123
Thinking of edge cases, here, what about multiple flags and multiple declarations?

[code]

Is it "de-duplicate and append flag"?
In which case, `file.c` gets `:flags => '-flag_a -flag_b -flag_c'?

I think that _should_ work.

[2016-11-19 09:57] chiahsien commented on #123
Current syntax for `include_files` is to use `= ["..."]` and `<< "..."`, so are you going to change the syntax?

[2016-11-19 11:44] jcampbell05 commented on #123
@chiahsien @divergio Good points.

If I was to change how `include_files` worked then I think `<<` would no longer work at least if you needed `:flags` and calling `include_files` would emulate `<<` since it  would just add it to the internal array of files to add.

I could always have a new `add_flag` or `remove_flag` method ?

[2016-11-19 12:11] chiahsien commented on #123
@jcampbell05
I don't think `remove_flag` method necessary, because files have no flag by default, right?
Maybe a new method called `set_files` and looks like this:
`target.set_files ['folder1/*.m, folder2/*.c'], :flags => ['-flag_a, -flag_b']`

(I don't write ruby, forgive me if the syntax isn't correct)

[2016-11-21 03:35] chiahsien commented on #108
@jcampbell05
Any progress for this issue? It still happens in Xcake 0.7.1 with Xcode 8.0.

[2016-11-21 04:20] chiahsien opened #124 "How to customize schemes?"
I've read the [Xcode Project Support.md](https://github.com/jcampbell05/xcake/blob/master/docs/Xcode%20Project%20Support.md), and it says that I can't manual control the schemes.

What I need is to:

- Add pre-actions and/or post-actions into schemes.
- Add arguments and/or environment variables.

Is there any chance to add this feature? Or can I use any shell/ruby/python/whatever script to achiev

[2016-11-21 08:44] chiahsien opened #125 "How to include plist file properly?"
In order to show the `plist` file in left project navigator, the target has to include it.
`target.include_files << "MyApp/*.plist"`

But if I do so, the `plist` file will be added to `Copy Bundle Resources` build phase, and Xcode will show a warning:
`Warning: The Copy Bundle Resources build phase contains this target's Info.plist file 'MyApp/MyApp-Info.plist'.`

So, my question is: how to show t

[2016-11-21 09:18] jcampbell05 commented on #124
@chiahsien Currently there isn't any way to customise it but I'm thinking of adding a hook to allow you to modify the resulting project file using `xcodeproj` so you can do things xcake doesn't let you yet.

[2016-11-21 09:19] jcampbell05 commented on #125
I'll have a think on how we can do this in Xcake, how would you expect this to be done ?

[2016-11-21 09:31] chiahsien commented on #125
Maybe Xcake can check the file extension, if it's `plist` then not adding to Copy Bundle Resources build phase?

So `target.include_files << "MyApp/*.plist"` doesn't need to change.

[2016-11-21 11:43] jcampbell05 commented on #108
@chiahsien Looking into it, if we could create an example project with this bug then that would help me alot :)

[2016-11-22 06:34] chiahsien commented on #111
@amotion @jcampbell05
Any update?
Xcode 8.0 + Xcake 0.7.1 still has this issue.

[2016-11-22 07:34] chiahsien commented on #111
Besides frameworks, libraries point to MacOS sdk path, too.

[2016-11-22 11:31] jcampbell05 commented on #111
@chiahsien  could you tell me which `xcodeproj` you have ?

[2016-11-22 14:51] chiahsien commented on #111
I've tried 1.3.3 and 1.4.1

1.3.3: wrong framework path, but the project file can be opened.
1.4.1: correct framework path, but the project file can't be opened. The project file fails to be parsed.

[2016-11-22 16:08] jcampbell05 commented on #111
@chiahsien Could you upload a project that recreates the issue ? I'll look into whats change structure wise.

[2016-11-23 12:35] rock88 opened #126 "Use different configuration for other targets"
Hi!
Can I use different build configurations for other targets?
For example,
I have two targets:

- app-stage
- app-appstore

and I want to use Debug only for app-stage and Release only for app-appstore, how I can do this?

[2016-11-23 13:45] jcampbell05 commented on #126
@rock88 Xcake should do this out of the box without the need for multiple targets. If you specify the build configurations for a target then xcake will generate a scheme for you.

However if  you still want to do it this way, specifying your own build configurations for the project will stop xcake generating the defaults (just provide a name for it as a parameter).

I'm not sure if the Xcode proje

[2016-11-23 14:41] maximkhatskevich commented on #126
@rock88 Xcode defines build configurations per project, so all targets share the same set of configurations. That means for every target you'll be able to set the same build settings for all configurations, or different settings per each configuration. Xcake also will generate Schemes for each target and configuration. For example, if you have targets "t1" and "t2" and configurations "Debug", "Sta

[2016-11-23 17:04] rock88 commented on #126
@jcampbell05 @maximkhatskevich  I think you are right, and few schemes for one target it's not problem.
Thanks you!

[2016-11-23 17:04] #126 closed

[2016-11-24 04:11] chiahsien commented on #111
@jcampbell05
Interesting, I can't reproduce it. :octocat:
The frameworks path is correct, **but libraries path isn't.**

[code]

Here's the sample project and Cakefile.
[XcakeTest.zip](https://github.com/jcampbell05/xcake/files/610458/XcakeTest.zip)

[2016-11-24 06:05] chiahsien commented on #108
@jcampbell05
It happens in my project, but I can't create a sample project to reproduce it.
The `TEST_HOST` and `BUNDLE_LOADER` settings are correct, but Xcode UI isn't.
Maybe it's Xcode bug.

![settings](https://cloud.githubusercontent.com/assets/1225437/20588224/8aa00690-b24e-11e6-9fc2-f1bbb0baca86.png)
![xcode ui](https://cloud.githubusercontent.com/assets/1225437/20588225/8aa410e6-b24e-11e6-8b

[2016-11-24 19:27] maximkhatskevich commented on #125
@chiahsien we can not ignore file to include just because it has "plist" extension, it's up to developer what to include in the project and plists are often used for many different purposes - from pre-populating database with default data to providing specific settings in run time. I'm sure you mean the "Info file" (a special file with special properties for a target, that is required by Xcode) wh

[2016-11-24 19:27] #125 closed

[2016-11-24 19:30] maximkhatskevich commented on #124
I never needed this by myself, but I agree it would be nice to have that feature in Xcake.

[2016-11-24 20:43] maximkhatskevich commented on #118
@divergio keep an eye on this pull request: https://github.com/jcampbell05/xcake/pull/127 Once it's merged, you'll find everything you need on master branch, also check ReadMe file for comments about samples.

[2016-11-24 22:34] kirakik opened #128 "XCake generating corrupted .xcodeproj file"
I'm attempting to create a simple XCake file:

[code]

After successfully running `xcake make`, the `.xcodeproj` file that was generated refuses to open. I', getting the following error:
`xxxx.xcodeproj cannot be opened because the project file cannot be parsed`

Has anybody encountered this before? Any clue as to what could be going on?

[2016-11-24 22:39] jcampbell05 commented on #128
Hey, firstly could you tell me what version of Xcode, xcake and the xcodeproj gem you have. It could be that one of these are out of date and causing issues.

[2016-11-24 22:41] #118 closed

[2016-11-24 22:42] maximkhatskevich commented on #128
@kirakik first of all, could you please provide full Cakefile? If your Cakefile contains only what you listed above then that might be not enough for a working basic project file. @jcampbell05 what do you think?

[2016-11-24 22:50] jcampbell05 commented on #128
@maximkhatskevich  Potentially. Ideally Xcake should try to help you out with providing enougth defaults that Xcode is happy. So we should definatly investigate this.

[2016-11-24 23:16] kirakik commented on #128
I was initially trying to create more complex Cakefiles. but ended up with this as I kept getting that error and was trying to trim it off to get a basic version working. The initial Cakefile I had looked something like this:

[code]

[2016-11-24 23:20] maximkhatskevich commented on #128
@kirakik try to start with our sample project and Cakefile included there: https://github.com/jcampbell05/xcake/tree/master/example/app/CakeMania

Just fetch entire repo, go into this folder and run "xcake make", then try to open the newly generated "CakeMania.xcodeproj" file with Xcode and see what happens. If it will work - then start experimenting from there. If you'll have any issues - let us

[2016-11-24 23:20] maximkhatskevich commented on #128
@jcampbell05 I'm not sure about this part at all - should it work or should it just break everything:

`Project.new do |c|
  after_save do
  `bundle install`
  `bundle exec pod install`
  end
end`

[2016-11-24 23:24] maximkhatskevich commented on #128
Also @kirakik I think you should not have these lines

[code]

if you do not provide any details inside each of these test targets (like info file and source files). @jcampbell05 correct me if I'm wrong.

Also I would not use Cakefile for running `bundle install` and `bundle exec pod install`. From my point of view, that kind of automation should be done outside of Xcake, with tools like Fastlane,

[2016-11-25 03:30] chiahsien commented on #128
@kirakik

- Use your text editor (Sublime Text, Atom, etc.) to open `YourProject.xcodeproj/project.pbxproj` file
- Around line 4, there should be something like `classes = ;`, change it to `classes = { };`
- Save

See if it works for you.

This should be `xcodeproj 1.4.1` bug? It works fine in `xcodeproj 1.3.3`.
cc @maximkhatskevich @jcampbell05

[2016-11-25 08:34] jcampbell05 commented on #128
@chiahsien Potentially I've spotted an issue regarding build settings so maybe it could be releated https://github.com/CocoaPods/Xcodeproj/issues/453

[2016-11-25 13:03] jcampbell05 commented on #128
@kirakik  @maximkhatskevich  The multiple projects are potentially confusing Xcake, if you remove the last block and see if that helps.

Xcake already has an implicit one for the file.

[2016-11-25 15:40] kirakik commented on #128
The problem looks like it's indeed related to the `project.pbxproj` file, @chiahsien's suggestion solved it!

@maximkhatskevich @jcampbell05  The problem persists with the sample project and after removing the last block. It does look like it's related to my setup, as I tried it on another computer using xcodeproj 1.3.3, and everything worked fine there with the same Cakefile. I will be careful to

[2016-11-25 17:04] jcampbell05 commented on #128
Cool, at least we've narrowed it down.. So it's potentially due to a more recent version of xcodeproj ?

[2016-11-25 17:40] kirakik commented on #128
It looks like it to me

[2016-11-25 17:44] kirakik opened #129 "Target's extensions are not being set properly"
**Setup:**

**Issue:**
After running `xcake make` and opening the `.xcodeproj` file, I find the following targets under the Products group:
[code]

In my experience, these should be:

[code]

Any clue as to how to fix this issue?

[2016-11-25 18:06] jcampbell05 commented on #129
@kirakik  looks like a bug with `Xcake` I'll take a look but potentially you could override the target name ?

[2016-11-25 18:15] kirakik commented on #129
@jcampbell05 I tried that, unfortunately adding a `.app` or `.xctest` to the target name leads to this:  `AppName.app.` or `AppName.xctest.`

[2016-11-25 18:54] kirakik commented on #33
@jcampbell05 just following up because I haven't seen anything related to custom build scripts in the documentation, is there currently any way to include them?

[2016-11-25 19:30] jcampbell05 commented on #33
@kirakik There is a way to add a build script phase here - https://github.com/jcampbell05/xcake/pull/97

[2016-11-25 20:36] maximkhatskevich commented on #128
I have "xcodeproj v.1.3.1" and have no issues like listed above, by the way, so yes @jcampbell05 I would agree with you.

[2016-11-28 03:46] chiahsien commented on #129
It happens to me, too. What's interesting is that although the displayed extension is missing, the path it pointed to is correct.

[2016-11-28 09:00] jcampbell05 commented on #129
Interesting, if you could upload a project that reproduces this problem then I can take a look :) also if you could tell me your `xcodeproj` version

[2016-11-28 09:05] chiahsien commented on #129
xcodeproj v1.3.3 & v1.4.1
There is no specific step and/or setting to reproduce this problem, it just happens.
https://github.com/jcampbell05/xcake/files/610458/XcakeTest.zip

[2016-12-04 16:15] rock88 opened #131 "Work with 3rd-party frameworks"
Hi,
Can I add 3rd-party frameworks to Embed Frameworks build phase & Embedded Binaries target section?

[2016-12-04 16:30] jcampbell05 commented on #131
@rock88 Yes just add it to the list of files to be included and Xcake will add it for you

[2016-12-04 17:17] rock88 commented on #131
@jcampbell05 Thanks for answer!
I did it:

`target.include_files << "Carthage/Build/iOS/Alamofire.framework"`

But Alamofire.framework added only to `Link Binary with Libraries`, not to `Embed Frameworks`

[2016-12-04 17:21] jcampbell05 commented on #131
@rock88  Ah, sorry I mis understood. I guess I'll have to expose a way of adding it to that phase.

[2016-12-06 14:33] eiditakahashi commented on #119
Hey guys! News on this issue?

For now I'm using version 0.6.25 since multiplying files don't happen.

[2016-12-06 16:12] jcampbell05 commented on #119
@eiditakahashi  I've done some work but I'm currently unit testing it. That would make sense there was a change in the architecture in 0.7 so maybe that broke it.

could you upload an example project with the issue ? I would love to test it against your project.

[2016-12-06 17:19] eiditakahashi commented on #119
@jcampbell05 here it is:
test project running 0.7.1 https://www.dropbox.com/s/4i0h4jv580mps7c/test.zip?dl=0

[2016-12-11 10:08] lucaquerella commented on #128
I had the same problem and I fixed by downgrading from `xcodeproj-1.4.1` to `xcodeproj-1.3.3`.

[2016-12-12 12:57] jcampbell05 commented on #128
@lucaquerella interesting, will have a look in what changes have occured to cause that.

[2016-12-20 13:56] atreat opened #132 "Method to disable Automatic Code Signing in Xcode 8"
I see in the [example CakeMania Cakefile](https://github.com/jcampbell05/xcake/blob/da11919ffaf15742b49582dc0ca61db30c8bb44c/example/app/CakeMania/Cakefile#L238-L240) there is way to enable automatic signing. I'm wondering, is there a way do set this to be manual?

I'm using fastlane's [match](https://github.com/fastlane/fastlane/tree/master/match) to to handle my teams code signing. It seems when

[2016-12-22 13:19] jcampbell05 commented on #132
So right now no. From what I've read the target attribute is a new thing and xcake's underlying library xcodeproj as far as I'm aware does t support it yet.

Maybe @orta or @neonacho can confirm this

[2016-12-22 14:14] atreat commented on #132
@jcampbell05 yes after opening this issue I searched through xcodeproj's issue and found something similar [#384](https://github.com/CocoaPods/Xcodeproj/issues/384). It looks like xcodeproj doesn't have support to manage the projects `TargetAttributes` quite yet.

There is the [update_project_codesigning](https://github.com/hjanuschka/fastlane-plugin-update_project_codesigning/blob/master/lib/fast

[2016-12-27 03:08] chiahsien commented on #128
Any progress about this issue?

[2016-12-27 03:09] chiahsien commented on #123
@jcampbell05 any progress about this feature request?

[2016-12-27 14:21] jcampbell05 commented on #128
@chiahsien I'm rigging up a new testing matrix for our CI, I'm hoping that way I can test against the new xcodeproj and fix this.

[2016-12-29 16:15] jcampbell05 commented on #98
@dchohfi  so an update on this, I have started a branch which will allow you to specify this.

[2017-01-03 12:22] jcampbell05 commented on #129
So had a look into this, it seems cosmetic. Xcode will use the correct extensions.

I'm looking into how I can force it to show as the correct extension in the project, I'm figuring out where this behaviour happens within Xcodeproj.

[2017-01-03 12:23] jcampbell05 commented on #98
@dchohfi I have released v0.8.0 which should have this functionaliy in.

[2017-01-03 12:23] #98 closed

[2017-01-03 12:24] jcampbell05 commented on #128
Closing this as I've tested 1.4.1 against 0.8.0 and it seems to be okay. But let me know if there are other issues

[2017-01-03 12:24] #128 closed

[2017-01-03 12:25] jcampbell05 commented on #105
Closing this for now, but could you try this with xcake 0.8.0 and see if it still has the same issue.

[2017-01-03 12:25] #105 closed

[2017-01-03 12:26] jcampbell05 commented on #120
@maximkhatskevich I've fixed this in 0.8.0 the issue was xcodeproj wasn't setting the search path so when you were unit testing a framework the framework wasn't loaded.

It should be fixed now :)

[2017-01-03 12:26] #120 closed

[2017-01-03 12:28] jcampbell05 commented on #114
Will look into this, I've been overhauling the build settings for our unit tests in 0.8

[2017-01-03 19:24] eiditakahashi commented on #119
@jcampbell05 yeah, it works! Not duplicating anymore! But now I am facing another problem related to `build_phase` I will open another issue for this. Thanks!

[2017-01-03 19:40] eiditakahashi opened #134 "Shell script build phase broke (0.8.0)"
I have this script in my Cakefile that was working fine with `0.6.25` and `0.7.1`
[code]
after updating to `0.8.0` `xcake make` fail:
[code]
Do I have to set another configuration with `0.8.0` ? If you need a test project you can use this https://www.dropbox.com/s/4i0h4jv580mps7c/test.zip?dl=0
just need to update version in `Gemfile`

[2017-01-03 20:06] jcampbell05 commented on #134
@eiditakahashi  Good catch, this should be fixed in `0.8.1`, let me know if this fixes it

[2017-01-03 21:12] eiditakahashi commented on #134
@jcampbell05 Fixed! Thanks!

[2017-01-03 21:12] #134 closed

[2017-01-08 21:18] james-aiwip commented on #91
Should be implemented in 0.8.2

[2017-01-08 21:19] jcampbell05 commented on #91
Should be implemented in 0.8.2

[2017-01-08 21:19] #91 closed

[2017-01-08 21:21] jcampbell05 commented on #124
In 0.8.2 we are allowing you to specify your own schemes due to popular demand. I'll have a little think on how to implement the pre and post actions.

[2017-02-12 15:37] james-aiwip opened #139 "Break up Scheme Generator"
This generator seems to do a lot we could probably break this out into smaller more focused components.

This should simplify testing this component.

[2017-02-12 16:05] james-aiwip opened #140 "Simplify referencing target products"
We should allow people to reference products of targets more easily so they can use them in file paths.

[2017-02-15 03:09] chiahsien opened #141 "[Question] What's your workflow with xcake and git?"
Hi all,

Since xcake can generate Xcode project file, do you still commit the project file into git repo?
What's your team's workflow when xcake is involved?
I'd love to get some insights from you all.

[2017-02-15 21:40] maximkhatskevich commented on #141
@chiahsien it's up to you, the situation is the same as having CocoaPods dependencies checked-in into your repo or not. If you keep it under version control - you consume extra space in repo (which is nothing when we are talking about Xcode project file), but you less dependent on third-party repos/servers and their availability. You always have a completely working copy and can compile your proje

[2017-02-23 16:21] maximkhatskevich opened #143 "Xcake 0.8.8 crashes on reading Cakefile"
Here is what I see in Terminal:

/Library/Ruby/Gems/2.0.0/gems/xcake-0.8.8/lib/xcake/context/xcodeproj_context.rb:43:in `create_object_for_target': undefined method `new_target' for nil:NilClass (NoMethodError)
	from /Library/Ruby/Gems/2.0.0/gems/xcake-0.8.8/lib/xcake/context/xcodeproj_context.rb:17:in `create_object_for'
	from /Library/Ruby/Gems/2.0.0/gems/xcake-0.8.8/lib/xcake/context.rb:27:in `

[2017-02-26 13:45] jcampbell05 commented on #143
@maximkhatskevich Could you upload an example project for me to test against ?

[2017-02-26 14:24] maximkhatskevich commented on #143
@jcampbell05 for some reason it does not happen anymore. After the issue appeared, I rolled back to one of the previous versions, then installed latest version again and it started to work properly. Should be something related to the environment on my computer.

[2017-02-26 15:01] jcampbell05 commented on #143
@maximkhatskevich  potentially could be the xcodeproj version

[2017-02-26 15:20] maximkhatskevich commented on #143
maybe, because I updated everything I could while was trying to resolve the issue

[2017-02-26 22:03] jcampbell05 commented on #143
Let me know if you get it again, will be good to track the version effected :)

[2017-03-01 10:01] frankdilo commented on #143
Seeing the same problem on version `0.8.7`

[2017-03-01 19:34] jcampbell05 commented on #143
@frankdilo are you able to tell me what version of xcodeproj you are using ?

[2017-03-02 15:57] alaincaltieri commented on #143
Hi!
I'm experiencing the same issue with Xcake 0.8.8. My version of xcodeproj is 1.4.2. Here the stacktrace, which is the same as @maximkhatskevich

[code]

[2017-03-02 16:15] jcampbell05 commented on #143
Interesting seems to be due to the resolving step, I'll try to recreate this. If anyone has a project and cakefile they can upload that will be a big help.

[2017-03-02 16:39] alaincaltieri commented on #143
Hi @jcampbell05
I prepared a dummy Cakefile that replicates the issue.

[code]

`xcake make` does not always fail. On my machine it happens once every 4-5 builds, so maybe you'll have to try a bunch of times to see the error. Also the above Cakefile works fine also without any other project file in the same folder :)

[2017-03-02 21:50] maximkhatskevich commented on #143
@jcampbell05 today I needed to regenerate project file and this issue happened again. 'xcode-select install' says I have latest tool installed. And again, the issue has been eliminated after I removed xcake at all, then installed earlier versions (I tried 0.8.7, 0.8.6, 0.8.3 - and they all were crashing). Then I removed xcake at all again and then just installed latest version available. And after

[2017-03-02 22:33] maximkhatskevich opened #144 "Xcake sets build settings to targets in a strange way"
It seems like my settings only being set on the Build Configurations that are named "Debug" and "Release". Even if I define custom build configurations in the beginning of the file, anything except "Debug" and "Release" is being ignored, so the other build configurations are getting default Xcode settings.

Xcake 0.8.8

[2017-03-02 23:05] jcampbell05 commented on #143
@maximkhatskevich So cleaning all Xcake versions to make sure you had 0.8.8 fixed it ?

[2017-03-02 23:07] jcampbell05 commented on #144
@maximkhatskevich do you have a cakefile and example project file ? Will be good to see how these configurations are created :)

[2017-03-02 23:12] maximkhatskevich commented on #143
@jcampbell05 it looks like this. But since I last time tried to fix this issue I think I only had v.0.8.8 installed anyway, so I'm not sure why it helps to switch to earlier version, then remove it and install latest version again.

[2017-03-02 23:13] maximkhatskevich commented on #144
@jcampbell05 my Cakefile looks almost identical as the sample Cakefile I added to the repo. The same structure.

[2017-03-02 23:16] maximkhatskevich commented on #143
Configurations defined like this:
https://github.com/jcampbell05/xcake/blob/master/example/app/CakeMania/Cakefile#L53

But even basic settings from this part (which should be applied to all Configurations that we have in the project)
https://github.com/jcampbell05/xcake/blob/master/example/app/CakeMania/Cakefile#L215
are not applied to configurations except "Debug" and "Release".

[2017-03-02 23:18] maximkhatskevich commented on #143
I'm not even sure when this issue was introduced, because I was only running my apps in Simulator from Xcode using "Debug" Build Configuration for the last few months. Now I tried to run my app on device using another Scheme with a custom Configuration ("RC") and realized I have big troubles with build settings.

[2017-03-02 23:30] jcampbell05 commented on #143
@maximkhatskevich It's very interesting, If I can nail down where this is caused I would like to had some more integration tests and tests with the actual Cakefiles rather than just unit tests.

Seems what we have isn't enougth anymore as the tool as got more complex.

[2017-03-02 23:32] jcampbell05 commented on #144
@maximkhatskevich I'll run it now and see what happens.

[2017-03-02 23:34] maximkhatskevich commented on #143
I can participate in testing, if you can give me development version and it's not too complex to install one on my computer. I have zero knowledge about how Ruby apps work and install, etc. :)

[2017-03-02 23:35] maximkhatskevich commented on #144
Okay, thanks! Let me know if you can reproduce it on your side @jcampbell05

[2017-03-02 23:47] jcampbell05 commented on #144
@maximkhatskevich  So I've picked up what the problem is.

It seems either Xcake is incorrectly creating or Xcode is automatically adding the Release and Debug configurations under certain conditions. The fact the build settings are missing, makes me believe it could be Xcode doing this and Xcake needs to add in the information to stop it doing this.

If it turns out that Xcode is hardcoded to do

[2017-03-02 23:49] jcampbell05 commented on #143
@maximkhatskevich So to test any development version of xcake all you need to do is clone the repo and just run `rake install` then the development version will be installed :)  I'll let you know when I have some changes.

[2017-03-02 23:51] jcampbell05 commented on #141
For me I live life on the edge and just check in my Cakefile but the above is probably a good thing to do as a fallback especially when working with new xcode versions.

Going to close this for now as I think your question has been answered :)

[2017-03-02 23:51] #141 closed

[2017-03-02 23:52] jcampbell05 opened #145 "0.8.11: Fix All The Things"
Seems a few niggly issues have crept in which we should fix in 0.8.10 before adding in any new features.

- [x]  #154
- [x] #143
- [x] #144
- [x] #129
- [x] #115
- [x] #114
- [x] #108
- [x] #156

[2017-03-02 23:53] maximkhatskevich commented on #144
Okay, good that you can see it on your side as well. Are you going to investigate it more? Keep me posted, please. That's important thing.

[2017-03-02 23:55] jcampbell05 commented on #144
@maximkhatskevich Yes I am seeing it.

I am looking into what happens between Xcake generating it and Xcode opening it to see if we have any opens.

For now you should add declarations for Debug and Release in your Cakefile to fix it as a Workaround:
[code]

[2017-03-02 23:55] maximkhatskevich commented on #145
Agree, fixing bugs is always way more important than new features!

[2017-03-02 23:56] jcampbell05 commented on #144
Although I re-read your description and it seems I'm getting opposite problem to you.

[2017-03-02 23:57] maximkhatskevich commented on #144
Yes, obviously if I stick with just standard Build Configurations - then the issue is gone. Okay, got it.

[2017-03-02 23:57] maximkhatskevich commented on #144
Really?

[2017-03-02 23:58] maximkhatskevich commented on #144
What do you mean by "opposite"? Your settings are being set to custom configurations only, except standard "Debug" and "Release"?

[2017-03-02 23:59] jcampbell05 commented on #144
@maximkhatskevich

Yes, Debug and Release are only set if.

a) I have no custom configurations
b) I have custom configurations and I declare the Debug and Release configurations explicitly, like so:

[code]

[2017-03-03 00:04] maximkhatskevich commented on #144
Then I think the issue is the same :) Whatever I set Configurations explicitly or not - the only configurations are properly configured in the result project file are "Debug" and "Release". Any custom Configurations (if were presented in Cakefile along with explicitly declared "Debug" and "Release") stay misconfigured - configured with default Xcode settings, not the custom one I define in Cakefil

[2017-03-03 00:11] jcampbell05 commented on #144
@maximkhatskevich  I think its the same however the otherway around, from what I understand your custom configurations don't get the settings you are configuring however the default configurations do.

For me its the other way round, my custom configurations get the build settings but the default debug and release configurations are misconfigured unless explicity declared (Cakemania for example de

[2017-03-03 01:05] jcampbell05 commented on #144
@maximkhatskevich can you see what happens when you make the Cakemania project. I just did it and I got these:

<img width="875" alt="screen shot 2017-03-03 at 00 24 02" src="https://cloud.githubusercontent.com/assets/1484989/23534094/76aea838-ffad-11e6-9ce7-d159278d7297.png">
<img width="934" alt="screen shot 2017-03-03 at 00 24 10" src="https://cloud.githubusercontent.com/assets/1484989/23534095

[2017-03-11 20:39] maximkhatskevich opened #146 "New description for the repo"
I would suggest to slightly improve the repo description, this is how I think would be better:

"Describe Xcode project in a human readable format and (re)generate one on demand."

[2017-03-11 23:39] james-aiwip commented on #143
So I've found a way of testing Xcake in a way that can reproduce this crash, simply by running xcake make, 10,000 times I am able to spot some steps change order which shouldn't be a problem as long as they don't depend on each other.

But a couple of times I have that crash but not as often as you guys seem to be getting it.

I will probably add this test into the Xcake test suite as part of the

[2017-03-11 23:42] james-aiwip commented on #143
So I think I've located the problem that causes this crash, in a few cases the project is created later than expected which isn't ideal. This means that Xcake will try to create a target by calling the `new_target` method on `nil`.

This seems related to the fact some steps change order as noted above, so I'll look further into why these change.

[2017-03-11 23:52] jcampbell05 commented on #143
So think I've located the issue causing this problem in #147, I simply needed to stop one of the new generators I introduced when adding support for schemes executing too early before xcake had created the project.

This caused the nil error since the project was nil. It now shouldn't execute until Xcake has finished processing the Target and Project.

[2017-03-11 23:57] jcampbell05 commented on #146
@maximkhatskevich we should probably look at the new Struct tool released the other day and see what we can improve on https://www.get-struct.tools/

We should think about gaining a website even if it's just a github page.

[2017-03-12 00:04] jcampbell05 commented on #52
It will be good to see if we can do something similar the way @lyptt is planning to do it in Struct https://github.com/lyptt/struct/issues/7

[2017-03-12 00:11] #143 closed

[2017-03-12 00:31] #139 closed

[2017-03-12 11:36] maximkhatskevich commented on #146
Wow! Didn't know you are working on something new :) Will take a look on it.

[2017-03-12 12:03] maximkhatskevich commented on #146
@jcampbell05 so this is not your tool, this is a similar tool from another developer, right? Don't you think to discuss with him to merge both of your projects or deprecate one of them and work together on a single project, since you are doing the same job?

[2017-03-12 12:41] jcampbell05 commented on #146
Yeah that is another tool not mine. Good point I'll reach out to him 😀

[2017-03-12 12:44] maximkhatskevich commented on #146
Great! I checked his tool. He has slightly different approach, but definitely functionality of the tool is very similar to Xcake, so everyone would benefit from collaboration, I think. Please keep me posted on that.

[2017-03-12 17:11] jcampbell05 commented on #146
@maximkhatskevich so you can follow our discussion here:
https://github.com/lyptt/struct/issues/22

[2017-03-12 18:44] jcampbell05 commented on #146
@maximkhatskevich so, it seems so far that Struct fits a very different role to Xcake in ethos. But lets see :)

It seems most of the functionality is there that we have in Xcake plus he already has features we were planning to add such as JSON, YAML and Recreation of project. The traction from his website is also amazing, so obviously it's been nailed :)

[2017-03-12 20:31] maximkhatskevich commented on #146
Thanks for the link, I'm subscribed there now. So far I definitely like/understand/prefer Xcake much more and will continue using it. I'll keep watching on your conversation and we will see where it will lead us.

[2017-03-12 20:32] maximkhatskevich commented on #146
In the mean time, what about to update the repo description? Do you agree or not with it? :) either way is fine for me, lets just make decision and close this issue - whatever you decide to apply new description or reject it.

[2017-03-12 21:32] maximkhatskevich opened #148 "Adding files into "Compile sources" Build Phase sorted by name alphabetically"
@jcampbell05 it would be super handy if Xcake were adding files into "Compile sources" Build Phase sorted by name alphabetically. This would solve the compilation issue that happens when you have an extension of a nested Swift type outside of the file where this type was originally declared.

How hard it is to add this feature into Xcake by default or make it an option in Cakefile? For now I'm jus

[2017-03-12 22:29] jcampbell05 commented on #146
:) no sounds perfect, I'll update it for the 0.8.9 release :) I'm going to open some issues regarding some of the struct stuff, as I've noticed somethings xcake could be doing

[2017-03-12 22:30] jcampbell05 commented on #148
@maximkhatskevich Yeah, that makes sense :) I'll implement that, in theory should be easy but I'll look at what that needs.

[2017-03-12 22:30] maximkhatskevich commented on #146
Ok.

[2017-03-12 22:40] maximkhatskevich opened #149 "xctool is deprecated - are we aware about it?"
@jcampbell05 I remember you mentioned few times 'xctool' when we were discussing issues with Xcake. I heard this word but never paid attention to that, never discovered what it is. Today I've checked what it is and find out that this is a 3d party tool made by Facebook, and it is now deprecated https://github.com/facebook/xctool/issues/704#issuecomment-234237405 Do we know that? Do you still use i

[2017-03-12 23:00] jcampbell05 commented on #149
So I've used `xctool` to work around Xcodeproj not creating Xcode Projects in ASCII format. They have since fixed this problem by changing the way they generate the projects.

Xctool was always used in my scripts but never as part of Xcake :) so we should be fine.

[2017-03-12 23:00] #149 closed

[2017-03-12 23:02] maximkhatskevich commented on #149
Okay, thanks for clarification!

[2017-03-12 23:04] jcampbell05 opened #150 "Project Watcher"
Struct has a cool watcher that will regenerate a project when ever it detects changes or files being added to the project directory.

We should probably do this too

[2017-03-12 23:04] jcampbell05 opened #151 "JSON + Yaml Format"
Struct has support for JSON and Yaml, we should probably add it too

[2017-03-12 23:05] jcampbell05 opened #152 "Website"
We should build a basic github page to help intro people into Xcake easily, Struct has a great one https://get-struct.tools

[2017-03-12 23:06] jcampbell05 commented on #29
We should probably attempt to do something like this since this appears to have driven the traction of Struct

[2017-03-12 23:09] maximkhatskevich commented on #150
To be honest, I see no value in it! I would prefer to be fully in control of when my project is being regenerated and not polluting my commit with unexpected project regeneration. Plus, Xcake has many small issues or does not provide everything I need, so after regenerating project I usually need to do few adjustments manually before continue working normally. I understand this is an optional feat

[2017-03-12 23:11] jcampbell05 commented on #150
Thats true and I would imagine most people who use watchers may have their own dedicated thing for triggering it. Also I tend to just manually run `xcake make` after every change.

So we should probably ignore this for now.

[2017-03-12 23:11] #150 closed

[2017-03-12 23:11] maximkhatskevich commented on #150
Agree :)

[2017-03-12 23:17] maximkhatskevich commented on #151
I would love to see it in JSON, but any format is okay. IMHO it does not matter which format the spec is uses. the more important is what the tool allows you to do, how stable and reliable it is. Learning new spec format is not a big deal for newcomers, whatever it is - YAML, JSON or Ruby. Again, I think we should focus on know issues and most wanted features than on convenience extensions. I thin

[2017-03-12 23:18] maximkhatskevich commented on #152
Agree, a nice website would be a great addition, demonstrating that this tool is "mature" enough :)

[2017-03-12 23:19] maximkhatskevich commented on #152
I'll try to find some time to help with that next week, but don't want to promise anything right now.

[2017-03-12 23:22] maximkhatskevich commented on #29
@jcampbell05 agree, not having this functionality is the number 1 barrier for newcomers to start using our tool ASAP. It took me quite a while before I found some time to experiment with Xcake and migrate my project on Xcake manually.

[2017-03-12 23:23] jcampbell05 commented on #151
I guess as long as the Ruby format stays easy enough to understand :) If people decide they need it then we can do it.

[2017-03-12 23:23] #151 closed

[2017-03-12 23:24] maximkhatskevich commented on #151
Fair enough!

[2017-03-12 23:32] jcampbell05 commented on #29
@maximkhatskevich awesome, I'll study how Struct does it to see if we can have any pointers :)

[2017-03-12 23:32] maximkhatskevich commented on #29
Good idea!

[2017-03-13 00:07] maximkhatskevich opened #154 "Crashes again"
Setting up a new iOS framework repo. Tried to use Xcake from within Fastlane lane, got a crash. The Cakefile is 100% valid, just copied from another framework where it has no issues, changed the name of the project and added couple more build settings.

Here is the log:

fastlane finished with errors

[!] Exit status of command 'cd ./.. && xcake make && pod update --no-repo-update' was 1 instead o

[2017-03-13 00:08] maximkhatskevich commented on #154
Any ideas what to do?

[2017-03-13 07:38] jcampbell05 commented on #154
@maximkhatskevich could you tell me what version of `xcodeproj` you have ? I'm wondering if I am using a feature that doesn't exist in that version

[2017-03-13 08:36] jcampbell05 commented on #114
Should be fixed in #153

[2017-03-13 08:36] #114 closed

[2017-03-13 08:38] #52 closed

[2017-03-13 09:20] maximkhatskevich commented on #154
xcodeproj --version
1.4.2

[2017-03-13 10:13] jcampbell05 commented on #154
So looks like it's related to the Entry code in https://github.com/CocoaPods/Xcodeproj/blob/0.28.1/lib/xcodeproj/scheme/build_action.rb

[2017-03-13 10:13] jcampbell05 commented on #154
Adding this to 0.8.9

[2017-03-13 10:14] maximkhatskevich commented on #154
I trust you :)

[2017-03-13 10:14] maximkhatskevich commented on #154
Thx for quick response!

[2017-03-13 11:05] jcampbell05 commented on #154
No worries, I'm hoping 0.8.9 will be a much better experience for you :) sorry for the pain.

[2017-03-14 18:06] maximkhatskevich opened #155 "A crash again"
MaxBook:MKHRequirement maxim$ xcake make
  - Reading Cakefile
  - Creating Project
  - Creating Target<>
  - Creating Target<Tst>
  - Creating Target<MKHRequirement>
  - Resolving Project
  - Resolving Target<>
  - Resolving Target<Tst>
  - Resolving Target<MKHRequirement>
  - Creating build configurations for Project<Main>
  - Creating build configuration Debug for Project<Main>
  - Creating buil

[2017-03-14 18:07] maximkhatskevich commented on #155
Any ideas why?

[2017-03-14 18:07] maximkhatskevich commented on #155
Sometimes the output is like this:

MaxBook:MKHRequirement maxim$ xcake make
  - Reading Cakefile
  - Creating Project
  - Creating Target<>
  - Creating Target<Tst>
  - Creating Target<MKHRequirement>
  - Resolving Project
  - Resolving Target<>
  - Resolving Target<Tst>
  - Resolving Target<MKHRequirement>
  - Creating build configurations for Project<Main>
  - Creating build configuration Debug

[2017-03-14 19:09] jcampbell05 commented on #155
@maximkhatskevich I think this is the same crash as before, if you clone this repo and run `rake install` then the development version of `0.8.9` should be installed and you can see if that fixes it.

I'm considering releasing 0.8.9 with these fixes and doing another 0.8.10 with the rest

[2017-03-14 19:20] maximkhatskevich commented on #155
I think iterating faster would be better than waiting for longer :) Okay, I'll try to install from sources, but a release would be very welcome!

[2017-03-14 19:20] jcampbell05 commented on #155
@maximkhatskevich sure I'll release tonight :)

[2017-03-14 19:21] jcampbell05 commented on #148
Will put this in 0.8.10

[2017-03-14 19:23] jcampbell05 commented on #148
@maximkhatskevich  btw in the meantime one trick you can do is manually re-specifiy the files that need to be built in order like so:

[code]

[2017-03-14 19:25] maximkhatskevich commented on #148
Okay, got it.

[2017-03-14 19:26] maximkhatskevich commented on #155
Should I use 'master' branch for installing from source?

[2017-03-14 19:27] jcampbell05 commented on #107
@maximkhatskevich  do you still need this ? :)

[2017-03-14 19:28] maximkhatskevich commented on #107
Didn't use that functionality for a long time. May be useful in future, but not a high priority for sure. Feel free to ignore for now.

[2017-03-14 19:28] #107 closed

[2017-03-14 19:43] maximkhatskevich commented on #155
MaxBook:xcake maxim$ rake install
rake aborted!
LoadError: cannot load such file -- bundler/gem_tasks
/Users/maxim/Dev/xcake/Rakefile:1:in `<top (required)>'
/Users/maxim/.rvm/gems/ruby-2.4.0@global/gems/rake-12.0.0/exe/rake:27:in `<top (required)>'
/Users/maxim/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `eval'
/Users/maxim/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `<main>'
(S

[2017-03-14 19:46] maximkhatskevich commented on #155
doesn't work, even if I switch to ruby 2.0.0

[2017-03-14 19:47] jcampbell05 commented on #155
ah you need to run `gem install rake && gem install bundle` and then re run it :)

[2017-03-14 19:49] maximkhatskevich commented on #155
omg... I'm almost ready to give up on all that Ruby stuff... :) Okay, doing that now.

[2017-03-14 19:52] jcampbell05 commented on #155
@maximkhatskevich  haha it's a learning curve at first but then you get used to it haha

[2017-03-14 19:53] maximkhatskevich commented on #155
Anyway...

MaxBook:xcake maxim$ rake install
rake aborted!
LoadError: cannot load such file -- rspec/core/rake_task
/Users/maxim/Dev/xcake/Rakefile:2:in `<top (required)>'
/Users/maxim/.rvm/gems/ruby-2.0.0-p648/gems/rake-12.0.0/exe/rake:27:in `<top (required)>'
/Users/maxim/.rvm/gems/ruby-2.0.0-p648/bin/ruby_executable_hooks:15:in `eval'
/Users/maxim/.rvm/gems/ruby-2.0.0-p648/bin/ruby_executable_h

[2017-03-14 19:53] maximkhatskevich commented on #155
after installing the above

[2017-03-14 19:55] maximkhatskevich commented on #155
Okay, I guessed it. 'rspec' is another gem I needed to install.

[2017-03-14 19:57] maximkhatskevich commented on #155
MaxBook:MKHRequirement maxim$ xcake make
  - Reading Cakefile
  - Creating Project
  - Creating Target<MKHRequirement>
  - Resolving Project
  - Resolving Target<MKHRequirement>
  - Creating build configurations for Project<Main>
  - Creating build configuration Debug for Project<Main>
  - Creating build configuration Release for Project<Main>
  - Creating build configurations for Target<MKHRequir

[2017-03-14 19:57] jcampbell05 commented on #155
:) yup, you're getting it - okay seems like this is a different error. Let me look through my code and see if I cab bash out a quick fix for you :) should be a simple one

[2017-03-14 19:58] maximkhatskevich commented on #155
would be awesome! Thx!

[2017-03-14 20:04] jcampbell05 commented on #155
@maximkhatskevich so pushed a fix to `master`, I am writing some unit tests for it but feel free to pull it down and test it out :)

[2017-03-14 20:06] maximkhatskevich commented on #155
no, sorry, seems to be the same result :(

[2017-03-14 20:07] maximkhatskevich commented on #155
MaxBook:MKHRequirement maxim$ xcake make
  - Reading Cakefile
  - Creating Project
  - Creating Target<MKHRequirement>
  - Resolving Project
  - Resolving Target<MKHRequirement>
  - Creating build configurations for Project<Main>
  - Creating build configuration Debug for Project<Main>
  - Creating build configuration Release for Project<Main>
  - Creating build configurations for Target<MKHRequir

[2017-03-14 20:10] jcampbell05 commented on #155
@maximkhatskevich just so I can test this on my end is this the Cakemania Framework Example ?

[2017-03-14 20:12] maximkhatskevich commented on #155
no, it's one of my side projects. Let me try it with Cakemania, actually

[2017-03-14 20:13] maximkhatskevich commented on #155
Yes, same happens when I'm trying to run 'xcake make' against the Cakefile of framework example

[2017-03-14 20:14] maximkhatskevich commented on #155
Please, confirm if you see this crash on your side?

[2017-03-14 20:14] jcampbell05 commented on #155
@maximkhatskevich cool, I'll use that to verify my fix rather than wasting your time :)

[2017-03-14 20:14] maximkhatskevich commented on #155
thx, I'm here waiting for the fix, really need this to move forward :)

[2017-03-14 20:23] jcampbell05 commented on #155
@maximkhatskevich Cool, so I've tried fixing it. Turns out it was a minr feature to make xcake behave more like xcode. But I'll disable it for now :) and push it up.

[2017-03-14 20:23] jcampbell05 commented on #155
Pushed :)

[2017-03-14 20:27] maximkhatskevich commented on #155
Okay, now it does not crash. I'm going to verify how it works in more details. Will let you know if I find any issues, of course.

[2017-03-14 20:28] jcampbell05 commented on #155
@maximkhatskevich :) sure, need to get all these bugs out.

[2017-03-14 20:31] maximkhatskevich commented on #155
problems again

[2017-03-14 20:32] maximkhatskevich commented on #155
I uncommented my unit tests target in the Cakefile and getting this:

MaxBook:MKHRequirement maxim$ xcake make
  - Reading Cakefile
  - Creating Project
  - Creating Target<>
  - Creating Target<Tst>
  - Creating Target<MKHRequirement>
/Users/maxim/.rvm/gems/ruby-2.0.0-p648/gems/xcake-0.8.9/lib/xcake/xcode/project.rb:118:in `file_reference_for_path': undefined method `dirname' for #<Xcodeproj::Pro

[2017-03-14 20:32] maximkhatskevich commented on #155
What a big pain that Xcode project file!

[2017-03-14 20:33] jcampbell05 commented on #155
@maximkhatskevich it's good, it's battle testing it :) I'll have a look into this :)

[2017-03-14 20:33] maximkhatskevich commented on #155
Maybe you require a specific version of Xcodeproj?

[2017-03-14 20:34] jcampbell05 commented on #155
@maximkhatskevich I've been thinking about bumping up the requiremnt I think the one in the gemspec right now is too low we should limit support to the latest version since most people use the latest xcode :)

[2017-03-14 20:34] maximkhatskevich commented on #155
sure, I agree

[2017-03-14 20:35] maximkhatskevich commented on #155
Waiting for your updates/instructions :)

[2017-03-14 20:36] jcampbell05 commented on #155
Do you know what xcodeproj you have btw ? will be interested to see where  `dirname` went

[2017-03-14 20:36] maximkhatskevich commented on #155
xcodeproj --version
1.4.2

[2017-03-14 20:37] maximkhatskevich commented on #155
Something you expected?

[2017-03-14 20:41] jcampbell05 commented on #155
@maximkhatskevich looks like there is some file path I didn't code Xcake to support or something in Xcodeproj has changed and its now returning a file reference when Xcake didn't expect.

So Xcake is doing something unsupported and crashing. Just would like to know what that file path is. I'll probably need an example project for this one that can recreate the crash since it depends on what files

[2017-03-14 20:43] maximkhatskevich commented on #155
okay, give me a moment

[2017-03-14 20:47] maximkhatskevich commented on #155
Checkout project from 'develop' https://github.com/maximkhatskevich/MKHRequirement/tree/develop

[2017-03-14 20:47] maximkhatskevich commented on #155
The Cakefile is there

[2017-03-14 20:48] maximkhatskevich commented on #155
I was experimenting with Struct, btw, it is a bit more stable, but functionality is more limited than Xcake, so I'm getting back on Xcake, if will be able to make it work again for me :)

[2017-03-14 20:52] lyptt commented on #155
@maximkhatskevich Please feel free to file any issues on missing functionality in struct. It'd be great to add anything you're currently missing!

[2017-03-14 20:58] jcampbell05 commented on #155
@maximkhatskevich Yeah I've decided Struct will be the better tool in the long term, so I'm helping to make that better and add what I can from Xcake.

Of course not everything will make it as Struct is supposed to be tighter than Xcake.  'm hoping to get all of these bugs fixed in Xcake so I can have it in a good state as I know a lot of people like Xcake.

But like @lyptt says file what you are

[2017-03-14 20:58] maximkhatskevich commented on #155
@lyptt I'll take an eye on both projects, but currently the biggest thing is how unstable all that. So much unexpected/undocumented behavior, and I can't easy reuse settings in config file. @lyptt take a look on https://github.com/maximkhatskevich/MKHRequirement/blob/develop/Cakefile and notice how easy and naturally things are nested one into another and how nested scopes easy override what's bee

[2017-03-14 20:59] jcampbell05 commented on #155
@maximkhatskevich also checking out your project and will try it out :) sorry about this. I've decided to add some tests to see if Xcake can generate the Cakemania proects :)

https://github.com/maximkhatskevich/MKHRequirement/tree/develop

[2017-03-14 21:01] maximkhatskevich commented on #155
@lyptt @jcampbell05 but I do like how naturally Struct handles build schemes. It creates 1 sheme per target, which combines both Debug and Release build configurations as Xcode does by default (Debug for Run and Test, Release for Archive, etc., all inside the same cheme named after its target).

Also, project variants might be a better solution than having multiple custom Build Configurations and

[2017-03-14 21:02] jcampbell05 commented on #155
I think we could look into getting some sort of high-level system or simplify variants to work in  a way with less of a learning curve if you  are more in the Xcode mindset :)  Xcake takes most of it's cues from Xcode which is why is has the nestling but it obviously adds alot of complexity when it had come to testing.

[2017-03-14 21:03] lyptt commented on #155
@maximkhatskevich So from this, I can see two main issues you're running into:
- Undocumented / unexplaned behaviour: Yes definitely we need more documentation. I'm 100% in support of this, the more documentation the better! I'll add an issue to track this.
- Reusing build configurations - yes I agree this can definitely be improved. Currently there's a bit of duplication when manually specifying

[2017-03-14 21:03] jcampbell05 commented on #155
@maximkhatskevich you should join the Gitter channel for Struct we can discuss this more :)

[2017-03-14 21:07] maximkhatskevich commented on #155
wow, what is Gitter? :)

[2017-03-14 21:08] maximkhatskevich commented on #155
@lyptt check the Specfile here https://github.com/maximkhatskevich/MKHRequirement/tree/develop you can see where I stopped trying to make it work :)

[2017-03-14 21:08] jcampbell05 commented on #155
@maximkhatskevich It's a chat/IRC program that lets you chat to people based on the github repo :) so we can talk about Xcake just by going to the same url as this repo on gitter :)

[2017-03-14 21:14] maximkhatskevich commented on #155
@lyptt Struct is using Xcodeproj by CocoaPods under the hood as well?

[2017-03-14 21:15] lyptt commented on #155
@maximkhatskevich It is indeed! It's great having very active users like you, so I'd love to help make your use of struct as streamlined as possible. Please feel free to file issues on the struct repo and we can help smooth out the process of integrating with struct 👍

[2017-03-14 21:19] maximkhatskevich commented on #155
@lyptt okay I'll file the key issues I have, but basically I will be able to move on Struct if you make the Specfile work in the repo I gave earlier.

[2017-03-14 21:20] jcampbell05 commented on #155
@lyptt It will be great to work together as well :) not many people seem to want to work on Xcode Project Generation. Can't say I can blame them when you get into it :P

[2017-03-14 21:22] lyptt commented on #155
@jcampbell05 Oh yeah tell me about it! Xcode is an absolute nightmare - and that's before you start working with it at such a low level 😂 Makes me wonder why I was insane enough to do it, but I can't help myself now!

[2017-03-14 21:24] maximkhatskevich commented on #155
@lyptt @jcampbell05 I'm wondering if Swift Package Manager can help us with project generation? IBM with their Kitura framework somehow generate project files as well, can you look into this? Probably we can learn something from there?

[2017-03-14 21:27] lyptt commented on #155
@maximkhatskevich I think most of our issues are centred around our 'approach' to generating projects. With Xcode projects there's a monumental amount of feature bloat, and factoring that down into something sensible is the hardest task!

The goal for struct was to boil down all these Xcode features and pick out the ones that developers use all the time, and make them incredibly simple to work wit

[2017-03-14 21:40] jcampbell05 commented on #155
@maximkhatskevich @lyptt I think in the long term SPM will become the project format for xcode, but not in a long time. Right now its super optimized for Swift frameworks like Kittura.

When I made Xcake, Cocoapods wasn't used by most developers. Fastlane and SPM didn't exist (Xcake was originally just a private tool that even used Sigh to download the certificates - @KrauseFx was onto something).

[2017-03-14 21:44] #152 closed

[2017-03-14 21:44] #29 closed

[2017-03-14 21:44] #58 closed

[2017-03-14 21:44] #79 closed

[2017-03-14 21:44] #140 closed

[2017-03-14 21:46] jcampbell05 commented on #124
@lyptt any of these useful for Struct ? The ones for the environmental variables is useful especially for the flags for debugging CoreData

[2017-03-14 21:47] maximkhatskevich commented on #155
To make a tool completely future-proof I would make it in Swift, but personally have no idea how to even approach this, as Xcode seems to not have (at least publicly documented) command-line API nor SDK. The only idea is to work with same Xcodeproj as you Xcake/Struct somehow, but it is made for work with from Ruby, have no idea how to communicate with it from Swift.

[2017-03-14 21:48] lyptt commented on #124
@jcampbell05 I'm absolutely happy to consider scheme configuration as an optional addition to a spec file. If it turns out it's a feature users need, it's worth including. I also like the idea of build hooks via DSL e.g. prebuild/preparse/postparse/postbuild.

[2017-03-14 21:51] lyptt commented on #155
@maximkhatskevich Yeah, unfortunately there's no project parsers written in Swift, so it'd be a huge maintenance burden to move away from Xcodeproj. Also as Swift is a static language, it's going to be incredibly difficult to write a DSL for it, and it wouldn't be nearly as flexible as a Ruby DSL.

[2017-03-14 21:51] jcampbell05 commented on #155
@maximkhatskevich yeah it's difficult since a lot of the Xcodeproject tooling is written in ruby right now thanks to the awesome people at Cocoapods :) I would love to do it in Swift but it would mean starting at a lower-level.

You can usually call `xcake make` or `struct --generate` from most languages as most allow you to invoke system calls. And since Struct supports JSON, you can just spit th

[2017-03-14 21:52] maximkhatskevich commented on #155
Agree with both of you.

[2017-03-14 21:54] maximkhatskevich commented on #155
@lyptt never seen an example of JSON version of the config. Do you have one? Does it allow string concatination for dynamic value composing from patterns? What about variables and reusing of code/settings?

[2017-03-14 21:55] jcampbell05 commented on #124
@lyptt yeah hooks are interesting, I have one for postgeneration in xcake so you can trigger it :)

[2017-03-14 21:58] lyptt commented on #155
Hi @maximkhatskevich, there aren't any JSON examples at present, but they act identically to the YAML variants. JSON is the most limited of the three formats, as YAML at least has the benefit of merge operators to copy keys and values into an object.

[2017-03-14 22:00] lyptt commented on #155
@maximkhatskevich An example of merge operators in YAML:

[code]

[2017-03-14 22:02] lyptt commented on #155
@maximkhatskevich this results in the following JSON equivalent:

[code]

[2017-03-14 22:06] jcampbell05 commented on #155
We are talking about adding variables to JSON in future so maybe we could allow this:
[code]

[2017-03-14 22:24] maximkhatskevich commented on #155
Okay, thanks for the example. If currently JSON is the most limited, then it's not helpful, agree. YAML seems to be the most elegant, as it is least verbose, I like it. But the lack of proper support of variables and string concatenation like in Ruby makes me use Ruby format for sure.

[2017-03-14 22:25] maximkhatskevich commented on #155
In near future, I would write a Swift wrapper around Struct that will then generate Specfile and execute 'struct -g'. Would be interesting to experiment with it.

[2017-03-14 22:29] lyptt commented on #155
@maximkhatskevich Yup! Struct was intended to also act as a middleman for other tooling, so this is absolutely supported. If you are comfortable with ruby, you can `require 'struct'` and use Struct's APIs directly to generate Specfiles dynamically.

[2017-03-15 08:31] jcampbell05 commented on #155
Going to close this as the original crash was fixed and the one I'm fixing is this one https://github.com/jcampbell05/xcake/issues/154 so we can carry the conversation on their :)

[2017-03-15 08:31] #155 closed

[2017-03-15 09:56] jcampbell05 commented on #146
Updated :)

[2017-03-15 09:56] #146 closed

[2017-03-15 09:58] jcampbell05 commented on #117
Should be fixed by making sure latest Xcodeproj is installed as they should handle it, will close this when we've bumped it.

[2017-03-15 09:58] #117 closed

[2017-03-15 10:01] jcampbell05 commented on #123
@chiahsien I've started a spike to look into this :), just figuring out what changes are needed.

[2017-03-15 10:02] jcampbell05 commented on #111
@chiahsien is this still happening ? did Xcodeproj 1.4.X fix it ?

[2017-03-15 10:03] jcampbell05 commented on #132
I'll close this for now as it seems like we can't do anything about it.

[2017-03-15 10:03] #132 closed

[2017-03-15 11:23] maximkhatskevich commented on #146
Great. I see you updated description in Readme, but forgot to update description of the repo on GitHub (in the top of the GitHub page).

[2017-03-15 11:28] jcampbell05 commented on #146
Good catch updated :)

[2017-03-16 03:35] chiahsien commented on #111
@jcampbell05
xcake 0.8.8
xcodeproj 1.4.2
Both frameworks and libraries paths are wrong.
They all point to non-existing paths.

[2017-03-16 20:59] jcampbell05 commented on #154
So this should be fixed by the latest version on master, I've found that ruby can select the wrong version of xcake so you should remove all older versions before running it :)

[2017-03-16 20:59] #154 closed

[2017-03-16 21:00] jcampbell05 commented on #145
So 4 more issues left to fix :)

[2017-03-16 22:53] maximkhatskevich commented on #155
@jcampbell05 @lyptt I hope you've got notifications about about this https://github.com/maximkhatskevich/MKHProjGen/issues/1

[2017-03-16 23:07] #124 closed

[2017-03-16 23:08] jcampbell05 commented on #124
Since we are winding down active development of Xcake I will instead look into getting this into Struct

[2017-03-16 23:12] jcampbell05 commented on #115
@maximkhatskevich do you know which of these build settings we should remove ?

[2017-03-16 23:14] maximkhatskevich commented on #115
@jcampbell05 my understanding is that we should not set both of these parameters.

[2017-03-16 23:20] jcampbell05 commented on #115
Cool I'm just trying to figure out which one needs being set for UITests and which one for Unit Tests :) to ensure we have it set correctly.

[2017-03-16 23:22] maximkhatskevich commented on #115
I would create sample targets in an Xcode project and check there :) Don't want to give you wrong answers, didn't touch this for some time.

[2017-03-16 23:23] jcampbell05 commented on #115
@maximkhatskevich cool will do so :) 👍

[2017-03-18 13:16] jcampbell05 commented on #129
Seems quite hard to fix and it's more of a cosmetic issue.

[2017-03-18 13:16] #129 closed

[2017-03-18 21:37] jcampbell05 commented on #123
So its quite a bit of work due to Xcake's architecture but we are working on adding it to Struct https://github.com/lyptt/struct

[2017-03-18 21:37] #123 closed

[2017-03-18 21:38] jcampbell05 commented on #148
@maximkhatskevich if this workaround worked for you then I would suggest moving over to Struct eventually as it's built to already do this.

[2017-03-18 21:38] #148 closed

[2017-03-18 21:46] maximkhatskevich commented on #148
Agree!

[2017-03-18 21:53] jcampbell05 commented on #111
Tried this on my machine and it seems to be okay with the latest Xcake on master and Xcodeproj. Your project file above compiles.

It may be worth filing this with Xcodeproj if you still have issues.

[2017-03-18 21:53] #111 closed

[2017-03-18 23:06] jcampbell05 commented on #131
We've exposed a new embed DSL in 0.8.8

[2017-03-18 23:06] #131 closed

[2017-03-20 13:02] frankdilo opened #156 "Crash if folder name contains some special characters"
I have found `xcake` to crash if, among the files that I have defined to be include in the project, there is a folder which contains either a dash (`-`) or a dot (`.`) in its name. This should work because those characters are allowed in Xcode groups' names.

This is the error message:

[code]

[2017-03-20 13:15] jcampbell05 commented on #156
@frankdilo great catch :) I'll look into this right away.

Can you tell me what Xcodeproj version you are using ?

[2017-03-20 15:49] frankdilo commented on #156
Sure, `xcodeproj (1.4.2)`. Thanks for the quick reply.

[2017-03-20 19:36] jcampbell05 commented on #145
Releasing 0.8.9 today so users can benefit from the fixes and then will release a second wave of fixes in 0.8.10

[2017-03-20 19:41] jcampbell05 commented on #145
Xcake 0.8.9 should now be released :)

[2017-03-20 19:42] jcampbell05 commented on #156
@frankdilo awesome I'll take a look, I've also release a `0.8.9`which should fix that problem with it crashing 3 out of 5 times when generating :)

[2017-03-20 19:48] jcampbell05 commented on #144
This should be fixed on the `f/Fix0.8.10` branch which we will release in `0.8.10`

[2017-03-20 19:48] #144 closed

[2017-03-23 14:59] earien opened #158 "Crash using copy_files_build_phase"
I've just tried using the brand new `copy_files_build_phase` method, but I get the following error:
```/Library/Ruby/Gems/2.0.0/gems/xcake-0.8.9/lib/xcake/dsl/build_phase/copy_files_build_phase.rb:19:in `block in configure_native_build_phase': undefined local variable or method `context' for #<Xcake::CopyFilesBuildPhase:0x007fa4c88c0860> (NameError)```

PS: there seems to be a typo in the `Cakefil

[2017-03-23 15:43] jcampbell05 commented on #158
Thanks for the catch I'll add it to our next release 0.8.10

[2017-03-24 20:13] jcampbell05 commented on #115
Looked at struct looks like we can remove TEST_HOST.

[2017-03-31 19:52] PaulLaliberte opened #160 ".."

[2017-03-31 20:12] jcampbell05 commented on #160
I think you forgot to add some details 😀

[2017-03-31 20:12] #160 closed

[2017-03-31 22:56] #158 closed

[2017-04-18 18:40] aleph7 opened #162 "undefined method `deep_merge'"
Just installed the latest version (0.8.9) using ruby 2.3.3 and I get this error.

<details>

[code]

</details>

[2017-04-18 21:40] jcampbell05 commented on #162
interesting, looks like the polyfill may not be applies, do you have a project you can upload that reccreates the issue?

[2017-04-18 22:23] aleph7 commented on #162
I was trying to create a project I literally ran `gem install xcake; xcake init`

[2017-04-24 16:34] steveholt55 commented on #162
i'm also seeing this issue, just creating a new project `xcake init` is giving me this error

	from /Users/brandon/.rvm/gems/ruby-2.4.0/gems/xcake-0.8.9/lib/xcake/constants.rb:2:in `<module:Xcake>'
	from /Users/brandon/.rvm/gems/ruby-2.4.0/gems/xcake-0.8.9/lib/xcake/constants.rb:1:in `<top (required)>'
	from /Users/brandon/.rvm/rubies/ruby-2.4.0/lib/ruby/site_ruby/2.4.0/rubygems/core_ext/kernel_re

[2017-04-24 19:40] jcampbell05 commented on #162
Interesting, what OS are you running?

[2017-04-24 19:48] steveholt55 commented on #162
macOS 10.12.4

[2017-04-25 13:41] steveholt55 commented on #162
Using xcake version 0.7.1 seems to work fine, no error, but anything newer than that is when I get the deep_merge error

[2017-04-25 15:36] jcampbell05 commented on #162
@steveholt55 Thanks for narrowing it down :) I'll see what caused the regression.

[2017-05-02 20:21] RikkiGibson commented on #162
I had the same problem and also fixed it by installing version 0.7.1. Would like to know when there'll be a fix or anything.

[2017-05-08 18:34] #162 closed

[2017-05-09 22:19] RikkiGibson commented on #45
It looks like support for folder references is in, but I can't find documentation for it. How does it work?

[2017-05-09 22:38] RikkiGibson commented on #45
D'oy, I figured it out. You just have to add a path to a folder to `target.include_files`, and that folder will get added as a folder reference instead of as a group.

[2017-05-10 06:04] jcampbell05 commented on #45
@RikkiGibson  exactly :) I'll up date the documentation

[2017-05-11 17:38] colinta opened #164 "Undefined method `deep_merge`"
Long time no see!  Starting a new toy project, and I'm gonna rely on Xcake again.  I just reinstalled, and using Ruby 2.3.1 I got this error right off the bat.

I fixed it locally by adding the `deep_merge` gem, and this change:

[code]

[2017-05-11 17:39] colinta commented on #164
I'll open a PR if you think this is a valid change.

[2017-05-11 17:41] colinta commented on #164
Ah, I see it's required via `require 'active_support/core_ext/hash/deep_merge'`, which I don't have installed.  `gemspec` issue?

[2017-05-11 17:47] colinta commented on #164
Adding `require 'active_support/core_ext/hash/deep_merge'` to my gem's copy of `constants.rb` fixes the issue. 0.8.10 should include this fix, whenever it's released.

[2017-05-11 17:47] #164 closed

[2017-05-11 19:39] jcampbell05 commented on #164
Yeah 😀 seemed like I had this gem on my machine because of rails

[2017-05-12 18:49] RikkiGibson commented on #164
Yeah, I found the same thing and sent a PR for it. Looking forward to a release version that incorporates the fix.

I guess in the meantime, I could tell people to install Rails. I don't know a lot about Ruby but it seems strange that installing a web framework would make extra stuff visible to scripts without the appropriate require statements.

[2017-05-13 17:34] RikkiGibson commented on #145
Would any of these be suitable for some guy to show up and try to solve?

[2017-05-14 19:06] RikkiGibson commented on #131
How does the embed DSL work?

[2017-05-14 19:40] RikkiGibson commented on #131
After some hunting, I found creating a block like this does the job.

[code]

Would it be alright for me to try and roll up my sleeves and document some of these features in a way that's somewhat easier to discover?

[2017-05-14 19:49] jcampbell05 commented on #131
Yes please

[2017-05-21 02:45] RikkiGibson opened #165 "Incorrect scheme generated for extension target"
I'm using the `extension_for(target)` function to create an App Extension target based on my iOS app target. When I try to run one of the generated schemes for the App Extension, I get the error: "App Extension with identifier (bundle identifier) is already installed, so we can't install User App with that same identifier.".

When I simply select New Scheme and pick my App Extension target for the

[2017-05-21 15:29] thiagolioy opened #166 "How to set Gather Coverage Data flag to YES using Cake"
Hello, i'd like to know if it is possible to set the "Gather Coverage Data" to yes on my scheme.

[2017-05-21 20:44] RikkiGibson commented on #166
It seems like customizing schemes is pretty limited in Xcake at this time. I'm interested in more features in this vein as well.

As a workaround, you may want to consider adding an after_save handler that replaces the Xcake generated .xcscheme files with schemes that do what you want. Just modify Xcake's generated schemes to be how you want, copy them somewhere outside of your .xcodeproj, then ru

[2017-05-30 19:46] R0cKET commented on #164
Solution?

[2017-05-30 20:06] RikkiGibson commented on #164
It's possible that installing Rails will fix the issue as this doesn't seem to occur in @jcampbell05's environment.

You can refer to this GitHub repo from your Gemfile to get the latest version, which has the fix.
<https://stackoverflow.com/questions/2577346/how-to-install-gem-from-github-source>

You can also forego some of the more recent features (which you may not need) and specify version 0.

[2017-06-01 17:01] colinta opened #169 "Supporting multiple ios app targets"
I am building a client / server game (ipad is the server, and iphones run the client).  For now I can merge these into one app (prob a good idea anyway), but it would be neat if we could support the ability to build multiple ios apps from one project.

[2017-06-01 19:05] jcampbell05 commented on #169
@colinta I think you can define two targets in xcake already :) and it should work fine.

[2017-06-01 20:16] colinta commented on #169
You're right!  I had mistakes in my Cakefile.  Usually I override the default naming `target-config_type` (`App-Debug`) to be shorter, and this was clobbering the targets.

[code]

☝️ this names the configurations simply `Debug` or `Release`.

[2017-06-01 20:16] #169 closed

[2017-06-06 19:07] vitorventurin opened #170 "cannot load such file -- Xcodeproj (LoadError)"
I've got this error:

/Users/Rotiv/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- Xcodeproj (LoadError)
	from /Users/Rotiv/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from /Users/Rotiv/.rvm/gems/ruby-2.4.0/gems/xcake-0.8.9/lib/xcake/xcodeproj_ext/PBXGroup.rb:1:in `<top (required)>'

[2017-06-07 21:16] RikkiGibson commented on #170
Not sure what to make of it. Did you poke around to see if Xcake's dependencies installed correctly? Did you install Xcake using `gem` or some other means?

[2017-06-08 12:13] jcampbell05 commented on #170
@RikkiGibson  whats your rubygem email btw, I'm gunna add you to it as an author.

[2017-06-09 09:31] vitorventurin commented on #170
@RikkiGibson Yes. I've installed via gem (using RVM and ruby 2.4.0). That's really weird.

[2017-06-09 18:45] RikkiGibson commented on #170
@jcampbell05 It's rikkigibson [at] gmail [dot] com

[2017-06-10 20:15] jcampbell05 commented on #170
@RikkiGibson  you should be added so you can push versions up :)

[2017-06-23 09:57] jcampbell05 commented on #145
@RikkiGibson  all the remaining things should be easy to fix :) just small tweaks.

[2017-06-27 12:39] earien commented on #170
@RikkiGibson @vitorventurin @jcampbell05 I had the same problem, it is due to the import in the `lib/xcake/xcodeproj_ext/PBXGroup.rb` file.
Changing it to `require 'xcodeproj'` instead of `require 'Xcodeproj'` fixed my problem: probably this works anyway on case insensitive systems, so that it is hard to reproduce.

[2017-06-27 14:41] jcampbell05 commented on #170
@earien  cool, I guess we should add this to our linting tests.

[2017-06-27 20:17] RikkiGibson commented on #170
Does that mean if you use hfs case sensitive on your mac you'd trigger the issue?

[2017-06-27 21:27] earien commented on #170
@RikkiGibson basically you won't notice the issue if you are using a case insensitive filesystem, whilst it will fail on a case sensitive one.
We should fix the import in the `lib/xcake/xcodeproj_ext/PBXGroup.rb` file, as actually the correct name of the library is lowercased: `require 'xcodeproj'`.

[2017-08-06 09:43] #170 closed

[2017-08-10 02:01] chinastate commented on #46
I have the same problem on Xcode it says, "The file “morpher app soundboard.app” couldn’t be opened because you don’t have permission to view it."  what could I do to fix this problem?

[2017-08-10 05:58] jcampbell05 commented on #46
@chinastate if you are able to send me the project then maybe I can investigate. I'm currently not sure what causes this problem so can't provide a work around.

[2017-08-10 11:47] chinastate commented on #46
What's your email

Sent from my iPhone

[2017-08-10 15:42] jcampbell05 commented on #46
jscampbell.05@googlemail.com

[2017-08-10 17:28] chinastate commented on #46
Did you get my project in an email from me yet

[2017-08-10 20:47] jcampbell05 commented on #46
yes I got it having a look :)

[2017-08-10 21:27] chinastate commented on #46
The error I'm having is this

Sent from my iPhone

[2017-08-11 01:41] chinastate commented on #46
How far have you gotten on my project errors

Sent from my iPhone

[2017-08-11 17:03] chinastate commented on #46
How are you doing with the code

Sent from my iPhone

[2017-08-11 18:35] chinastate commented on #46
?

[2017-08-12 13:35] jcampbell05 commented on #46
@chinastate still trying to reproduce :)

[2017-08-12 14:45] chinastate commented on #46
What do you mean by reproduce

Sent from my iPhone

[2017-08-12 15:56] chinastate commented on #46
Now I get this error

Sent from my iPhone

[2017-08-23 11:40] igor-makarov opened #172 "Non-deterministic file reference lists are generated"
I'm researching why two subsequent iterations of xcake produce completely different project files - they look the same as far as Xcode group sort order is concerned, but the PBX file is completely different.

I know that Cocoapods somehow manages to avoid this problem when generating the Pods.xcodeproj.

In xcake, what determines the order of the files traversed? It seems like something is being a

[2017-08-23 12:13] jcampbell05 commented on #172
@igor-makarov we collect them using the `glob` method in Ruby. We traverse them according to the order provided in that.

I haven't touched it for a while but its possible that during adding them the code that figures out how to do that doesn't keep the UUID consistent or something ?

[2017-08-23 12:34] igor-makarov commented on #172
I've checked and the glob does return consistent sorting. However, the order in which the files appear in the pbxproj is different for each generation.

[2017-08-23 12:35] igor-makarov commented on #172
I've tried using `xcodeproj.sort` and xUnique, but it's not helping because the differences are too big.

[2017-08-23 12:37] yonaskolb commented on #172
Are the reference ids different? This is usually the cause for generated xcodeproject diffs

[2017-08-23 12:39] igor-makarov commented on #172
UUIDs are different, of course. But this goes deeper, as the actual order of the refs is different, which causes `xcodeproj.predictabilize_uuids` to produce different deterministic UUIDs for each run - it relies on applying an MD5 on the full tree-paths for each node.

[2017-08-23 12:56] yonaskolb commented on #172
Ok, that's another issue then.
Not sure if it fits your needs like xcake does but for what it's worth https://github.com/yonaskolb/XcodeGen has deterministic generation

[2017-08-23 13:26] jcampbell05 commented on #172
@igor-makarov yeah I am not sure, at this point. It goes into a generator system potentially it adds the files to the project in a different order. I think the order in which they added is chronological to when the add_file is called.

[2017-08-23 14:40] igor-makarov commented on #172
What affects the order in which the add_file is called?

[2017-08-23 14:49] jcampbell05 commented on #172
@igor-makarov right now the generators declare their dependencies on each other which determines the order they are called in. Potentially one generator wants to add a file to the project perhaps it handles the `xcconfigs` for example then it will add those files first.

Perhaps the generator used for adding all of the files should always be ran first (but after the project and targets are ready)

[2017-08-23 15:57] igor-makarov commented on #172
I checked, the order in which the `include_file_for_path_and_target` are called on files doesn't change. It's something down the line that clobbers the PBX node order.

[2017-08-23 16:14] jcampbell05 commented on #172
@igor-makarov Maybe check to see that nothing decides to sort them alphabetically or something nieave like that.

[2017-08-23 16:17] igor-makarov commented on #172
I wish! That would have been better, actually. It's literally generating a different order run after run, even if no files change.

[2017-08-23 16:40] igor-makarov commented on #172
BTW, I 'solved' the problem of getting different output on same input like so:
I added:
[code]
in the `after_save` phase. Perhaps this should be added into Xcake itself?

Anyway, adding or removing a file still upends the entire PBX tree child order and produces a terrible long diff.

It's not like it's even a bug - I know that when using Xcake and Cocoapods I shouldn't care what's inside the PBXs

[2017-08-28 13:36] #156 closed

[2017-08-28 13:37] jcampbell05 commented on #145
2 left now ! :)

[2017-08-28 13:39] jcampbell05 commented on #172
@igor-makarov interesting We should try that out internally and see if that makes a difference.

I guess if there was a way Xcake could consume an existing PBX and diff it manually so that files and their UUIDs are preserved. Currently it re-writes it everytime, I'm not sure how much work this would be.

Cheers :) thanks for the contributions so far, been meaning to add some of this stuff but didn

[2017-08-28 13:42] igor-makarov commented on #172
My final take on it is that it's not really necessary :/

The bottom line in my opinion is that we shouldn't care about the PBX file contents as long as it performs the right build steps.

[2017-09-01 06:33] #115 closed

[2017-09-01 06:34] jcampbell05 commented on #172
Okay so just
[code]

[2017-09-01 07:03] igor-makarov commented on #172
Yeah I guess. But not even that helps prevent clobbering...

On Fri, Sep 1, 2017, 09:34 James Campbell <notifications@github.com> wrote:

[2017-09-01 10:35] jcampbell05 commented on #172
So close for now until we have more information ?

[2017-09-01 12:43] igor-makarov commented on #172
Or until PBX is dead, whichever comes first, LOL

[2017-09-01 13:30] asifmohd opened #175 "UI Tests fail during execution"
Running UITests on a 100% swift project generated from Xcake, fails during execution with the following logs:

`2017-09-01 18:57:41.192648+0530 XCTRunner[29827:4069469] Running tests...
2017-09-01 18:57:41.209567+0530 XCTRunner[29827:4069469] The bundle “macCoreExampleUITests” couldn’t be loaded because it is damaged or missing necessary resources. Try reinstalling the bundle.
2017-09-01 18:57:41.

[2017-09-01 13:53] #175 closed

[2017-09-01 13:53] jcampbell05 commented on #172
I think the Swift Project Manager will show it the door

[2017-09-01 13:53] #172 closed

[2017-09-01 13:55] asifmohd commented on #108
Was going through this issue
Here is what i found

Unit test targets seem to be working fine with master xcake
Though UITest targets require something of this sort to set Target application

`
/* Begin PBXProject section */

		4B4CDB672185CCACC3107811 /* Project object */ = {
			isa = PBXProject;
			attributes = {
				LastSwiftUpdateCheck = 0830;
				LastUpgradeCheck = 0700;
				TargetAttributes =

[2017-09-01 16:33] igor-makarov commented on #172
Too bad SwiftPM won't build my huge pile of ObjC files...

[2017-09-01 19:07] jcampbell05 commented on #108
@asifmohd I'm not sure I think the attributes for the project are easy to customize, we do that to set the Objective-C class prefix, see how we implement that :)

[2017-09-01 19:08] jcampbell05 commented on #172
@igor-makarov that's the apple way sadly :(

[2017-09-01 19:20] igor-makarov commented on #172
I just want to never look at a PBX diff ever again :/

[2017-09-19 07:45] vitorventurin commented on #162
I have the same issue here. Why did you guys close it?

[2017-09-19 08:19] jcampbell05 commented on #162
It's fixed in master branch I'll push up another update as we probably just haven't released it

[2017-09-19 13:17] ERbittuu opened #177 "How to create Cakefile from existing Xcode project?"
I want to create "Cakefile" from my existing project and manage some information about the project.

[2017-09-19 17:12] RikkiGibson commented on #177
It's definitely a feature we'd love to have. For now, it's necessary to manually create the Cakefile by inspecting key sections of the .pbxproj file. The files under docs/ in the repo may help you.

[2017-09-21 08:50] ERbittuu commented on #177
OK, Thanks.

[2017-09-21 08:50] #177 closed

[2017-10-18 13:51] eiditakahashi opened #178 "Ignoring xcassets"
Hi guys, since `v0.8.0` xcake is not including `.xcassets` in the project. Is this a bug or is there another way to include this extension ?

Part of my cakefile that includes files: `target.include_files = ["Common/**/*.*", "App/**/*.*"]`
Folder where xcassets is located: `Common/Resources/`
There are two more files with it and they are included.

[2017-10-18 14:37] jcampbell05 commented on #178
Can you try explicitly declaring you want the `xcassets`, but yes this is a bug

[2017-10-18 14:46] eiditakahashi commented on #178
@jcampbell05 I tried this:
[code]
and this:
[code]
with no success 😞 any suggestion?

[2017-11-10 16:08] Piasy opened #180 "Build rule support?"
Thanks for such a great tool!

I'm using J2ObjC, which need define custom build rule, does xcake support define custom build rule in Cakefile?

Thanks!

[2017-11-10 21:53] jcampbell05 commented on #180
@Piasy yes you can read about it here https://github.com/jcampbell05/xcake/blob/master/docs/Cakefile.md#shell-script-build-phase

[2017-11-10 21:53] #180 closed

[2017-11-12 02:01] Piasy commented on #180
Thanks for your quick reply, after a lot of google search and test, it seems that `build phase` and `build rule` are different.

J2ObjC use `build rule` to compile Java source, and the transpiled ObjC source need to compile and link with other sources in my project.

I try to invoke j2objc in build phase, it could generate ObjC sources, but these generated sources aren't compiled and linked with o

[2017-11-13 14:57] jcampbell05 commented on #180
Interesting never used this feature when using this for iOS but I'll take a look. Could you create a very basic project for me ?

Would be a big help in helping you to develop this feature.

[2017-11-14 00:12] Piasy commented on #180
Sure, actually I'm working on such a project, https://github.com/Piasy/JavaUniverse

[2017-12-08 21:20] dirkoswanepoel commented on #145
Would it be possible to publish a new gem? The current one does not include fixes #178 and #179

[2017-12-10 18:55] jcampbell05 commented on #145
@dirkoswanepoel sure :)

[2017-12-23 22:52] RikkiGibson commented on #178
Looks like the fix was committed but not yet published.

[2017-12-26 06:40] happiness9721 opened #182 "Wrong behavior in scheme generator"
I'm using xcake with the Cakefile below in Xcode 9.2
[code]
it generate redundant UITest scheme like below
<img width="204" alt="2017-12-26 2 37 09" src="https://user-images.githubusercontent.com/4532358/34349188-89a5e11c-ea4a-11e7-90f3-de8f9290e120.png">

[2017-12-28 22:24] jcampbell05 commented on #178
Will publish along with another fix for UI Tests

[2017-12-28 22:24] #178 closed

[2017-12-28 22:25] jcampbell05 commented on #165
Are you still able to provide a project file with the working target and the xcake generated one so I can see what it is doing wrong ?

[2017-12-29 03:47] RikkiGibson commented on #165
The error message is different in Xcode, but it's still broken. If you pull down this branch of my project and follow the instructions to build in README.md I think you'll be able to repro the problem.

https://github.com/rikkigibson/corvallis-bus-ios/tree/XcakeScheme

Let me know if it's excessively cumbersome or anything to deal with my whole project and I can try to just construct a simple proj

[2018-01-18 10:57] albyok opened #185 "Settings.bundle read as folder"
I noticed now that xcake include file "*.bundle" as folders instead of files. Am I missing something?

![image](https://user-images.githubusercontent.com/2544013/35094765-8d8be8ae-fc46-11e7-84a7-1d3922e38d71.png)

With a classic project I used to see bundles in this way:

![image](https://user-images.githubusercontent.com/2544013/35094814-be37d9cc-fc46-11e7-80b4-ff17b5e0379c.png)

And I could atta

[2018-01-18 13:55] albyok commented on #185
I'm now using this code to include the Settings.bundle, but it's clearly not the best practice. I also have now two copies of that file. One as folder and one correctly stated as bundle file.

`settingsBundlePath = "target_files/" + target.name + "/Settings.bundle"

    target.copy_files_build_phase "Copy Phase - Settings Bundle" do |phase|
  		phase.files = [settingsBundlePath] # array
  		phase.

[2018-01-18 14:41] jcampbell05 commented on #185
I think there is a PR that fixes this and I'm about to release it :) since it effects things like xcassets.

[2018-01-19 10:00] albyok commented on #185
Ok, perfect! Thanks for your great work again :-) 🥇

[2018-01-25 00:05] jcampbell05 commented on #185
Should be releasing this today :)

[2018-01-25 00:05] #185 closed

[2018-01-25 00:06] jcampbell05 commented on #165
So all other issues for new release fixed except this one - I am looking to see if the bundle identifier is being generated correctly with xcake.

[2018-01-25 00:07] jcampbell05 commented on #108
Will fix this in 0.8.11, I think I need to update our target generator to add this data into the project attributes. Which I think may be possible.

[2018-01-25 00:08] jcampbell05 commented on #166
So we can probably add these flags if and when requested, will add this in 0.8.11

[2018-01-25 00:09] #182 closed

[2018-01-26 12:03] jcampbell05 commented on #185
:) oh forgot I released 0.8.10 already, will be 0.8.11 in that case :)

[2018-02-01 09:29] albyok commented on #185
Ehi James. Is this fix still in progress? I'm sorry to bother you, but for me it would be very important

[2018-02-01 14:05] jcampbell05 commented on #185
Yeah it is :) will get this released today if thats okay ? :) hows you experience otherwise ? anything missing ?

[2018-02-02 10:28] albyok commented on #185
All seemed fine, but I really need this fix. By the way, this script is really saving me, because I have a big project file that I'm sharing through a team and the merge was a pain in the ass.

This script should be integrated in Xcode. Try to contact Apple :D

[2018-02-03 12:23] jcampbell05 commented on #185
Glad to hear it :) Haha, I will try :)

[2018-02-08 13:08] albertoschiariti commented on #145
Hi James. Still didn't see the update... It's over 2 weeks. I know that you're not being payed for this, but you told me 2 weeks ago that you would update the gem. Just let me know if you're busy and I will search another solution, no problem :-)

[2018-02-08 21:37] jcampbell05 commented on #145
@albertoschiariti should be up now :) sorry for the delay :)

[2018-02-08 21:37] #145 closed

[2018-02-09 09:38] albyok commented on #145
Thanks dude :-)

[2018-02-09 10:44] albyok opened #186 "0.8.11 - Can't launch xcake make"
I'm sorry, but the new GEM (0.8.11) got a lot of problems.

The first one

[code]

The second one, after I tried to fix  the first one...

[code]

[2018-02-09 18:31] piv199 commented on #186
Yeah, I've the same

[2018-02-09 19:43] jcampbell05 commented on #186
Jumping right on this :) does this happen for all projects or just paticular ones ?

[2018-02-09 19:55] piv199 commented on #186
@jcampbell05 `xcake init` and then `xcake make`

[2018-02-10 17:37] jcampbell05 commented on #186
@albyok how did you fix the first one do you have a patch for that ?

[2018-02-10 17:43] jcampbell05 commented on #186
Pushed 0.8.12 which should fix the first bug let me know if this fixes it for you

[2018-02-11 09:39] ismetanin opened #187 "Create source file with configuration params"
Hello! Is it possible to generate source file with some parameters from configuration? For example I want to create Fasfile with current app identifier and xcodeproj name.

[2018-02-11 13:00] jcampbell05 commented on #187
As in like a project template ?

[2018-02-11 15:12] ismetanin commented on #187
@jcampbell05 Yeah, exactly

[2018-02-12 14:38] albyok commented on #186
The first bug is actually fixed, but I still get the second one :(

[2018-02-12 20:11] jcampbell05 commented on #186
Okay, do you have a project file I can look into @albyok  It seems like it could be project dependent so a sample will help me a great deal :)

[2018-02-13 08:29] albyok commented on #186
It's not easy because I'm talking about work projects. I can't share it so easily. And sorry for my ignorance, but how can it be project dependent if it's your script that should make a whole new file project? :-|

Maybe I can (or you can give me) print some debug messages that can help you find out the problem?

[2018-02-13 11:10] jcampbell05 commented on #186
Project dependent as in it's something about that project which is triggering a bug in my tool. Yeah thats sounds like a good compromise :)

or maybe we can chat through a private channel as I'm trying to find which file or folder causes this issue.

[2018-02-13 14:49] albyok commented on #186
Sure. If you have Skype, add my job contact: alberto.schiariti_madeinbit

[2018-02-16 08:33] albyok commented on #186
News?

[2018-02-16 19:51] jcampbell05 commented on #186
I think I've traced it down to some bundle files, just running some tests

[2018-02-19 13:57] albyok commented on #186
(I think you're ignoring also *.xcdatamodeld files)

[2018-02-19 15:30] jcampbell05 commented on #186
Good point I'll add those and see if that helps. Will see if there is a full list of bundle files somewhere online

[2018-02-20 11:40] albyok commented on #186
Ok. Let me know when the update is coming :D

[2018-02-26 08:26] jcampbell05 commented on #186
@albyok Okay, I have a few more questions. Does your project have localization ?

[2018-02-26 08:29] albyok commented on #186
Yeah.

I'm sorry dude, but I can't rely on this repos anymore. It's like 2 months that I can't use it and I have to find a different solution.

As I already said, I know that you're not being paid for this (I would pay for this repos if it would work) but I was planning to use it for my job. And 2 months of waiting it's something I can't afford.

I hope that you'll fix it, but I have to look for s

[2018-02-26 08:45] yonaskolb commented on #186
For what it’s worth https://github.com/yonaskolb/XcodeGen might work out for you

[2018-02-26 09:20] albyok commented on #186
@yonaskolb: Thanks. I'll give it a try

[2018-02-26 12:59] jcampbell05 commented on #186
Okay no worries, I understand. Right now I'm still trying to track it, I can see from your project there is something that it doesn't like which I haven't been able to re-create.

https://github.com/yonaskolb/XcodeGen is a great alternative, as I am considering deprecating this tool as I realised I no longer have the time I once had.

[2018-02-26 13:11] jcampbell05 commented on #187
So this tool is focused on generating projects, but I am working on one for project files.

[2018-02-26 13:11] #187 closed

[2018-02-26 13:12] #186 closed

[2018-02-26 13:12] #108 closed

[2018-02-26 13:12] #165 closed

[2018-02-26 13:12] #166 closed

[2018-12-28 14:15] jcampbell05 opened #192 "Collect all path inclusion logic into the Path Classifier Class"
One thing I've noticed is over time we've ended up with logic for detecting which paths should be included in two spots.

For example here:
https://github.com/igor-makarov/xcake/blob/master/lib/xcake/generator/target_file_reference_generator.rb#L23

and here:
https://github.com/igor-makarov/xcake/blob/master/lib/xcake/path_classifier.rb

We should probably make sure or code to do we determining if

[2018-12-28 14:20] jcampbell05 opened #193 "Simplify cookbooks"
We have some good recipes for some common tasks:
https://github.com/igor-makarov/xcake/tree/master/docs/Cookbook

Some seem a bit convoluted, so perhaps we could improve the Xcake API with some additional convenience methods to make it easier to do.

[2019-01-17 15:25] john-brunelle opened #196 "Can a Cakefile include or pass in environmental variable"
Hi, I have been looking thru the issues and docs and I am not seeing anything in this regard.  I am wondering if it is at all possible to pass in parameters into the the xcake make command? Or perhaps capture environment variable in the Cakefile, for example, something like this:

var mySetting = Argument("my_setting", "default value");

Thanks!

[2019-01-17 16:55] john-brunelle commented on #196
awesome! thanks for the answer

[2019-01-17 17:15] #196 closed

[2019-02-10 05:46] ashikurrahmanrobin commented on #46
I also face this error please help me
![screenshot 2019-02-09 at 10 43 56 pm](https://user-images.githubusercontent.com/16266135/52530082-787edd80-2d29-11e9-958f-dc9ff0f37911.png)

[2019-02-10 13:36] jcampbell05 commented on #46
@ashikurrahmanrobin can you provide the steps you did to encounter this error and can you zip your project file and cakefile here so we can take a look.

[2020-05-25 09:45] PatrickKuijpers opened #208 "Configurable target.shell_script_build_phase input- & output-files and order of build phases"
When defining the shell_script_build_phase the name and script can be defined as described [here](https://github.com/igor-makarov/xcake/blob/master/docs/Cakefile.md#shell-script-build-phase). It would be great if the input- and output-files could also be defined.

Additionally I'd like to define the order of a build phase relative to other build phases. For example, moving my newly generated build

[2020-05-25 09:53] igor-makarov commented on #208
Actually, it's possible already - the documentation probably hasn't been updated to reflect it. Would you like to make a PR that updates it?

Here's the syntax, in a nutshell -
[code]

As for moving the phase above compilation, you can use `#pre_shell_script_build_phase` for that.

I would really appreciate the PR if you can spare some time on it.
This project is really useful to a lot of people b

[2020-05-25 10:20] PatrickKuijpers commented on #208
Thanks for the fast answer!

Sure, I'll do. The syntax is new to me though, so how can I combine a multiline `SCRIPT` with the do |phase|` definition behind it?

See example code here:
[code]

[2020-05-25 10:23] igor-makarov commented on #208
Ruby DOCSTRING syntax is a mystery to me as well 🤷🏻‍♂️

Personally, I'd just factor it into separate lines:
[code]

[2020-05-25 18:43] #208 closed

[2020-05-25 19:23] PatrickKuijpers commented on #208
Closed issue and created the PR: https://github.com/igor-makarov/xcake/pull/209

Thanks again for the quick help!

[2020-05-26 15:48] pedyard opened #210 "Custom configurations"
When trying to create a custom configuration with `project.debug_configuration :Test`, I do see this configuration in `project.all_configurations.each`, but not in `target.all_configurations.each`. Besides not having `Test` there, target also still has the implicit configurations `Debug` and `Release`.

Not sure if this is the way it is supposed to be and if so, is there a way I could get the proj

[2020-05-27 07:14] #210 closed

[2020-05-27 07:19] igor-makarov commented on #210
Published [0.9.3](https://rubygems.org/gems/xcake/versions/0.9.3) - please give it a few minutes to propagate to the gem registry.

[2020-05-27 17:11] pedyard commented on #210
Thanks. It is working as expected now.

[2020-05-28 16:43] sergeymild opened #213 "Defining subprojects in the Cakefile"
How generate .xcodeproj for subprojects. For example i have directory called "myProject" in that directory i have project called Main.xcodeproj and also a directory Modules.
In directory modules i have one or two subprojects.
[code]

[2020-05-28 17:50] igor-makarov commented on #213
Currently, there's no way to do this with the Cakefile DSL.

I suggest using separate Cakefiles for each project and putting it in a directory.

Alternatively, you might wanna look into defining these internal dependencies as local pods through CocoaPods. Whether you're already using CocoaPods or not, they need much less DSL and generate your plists and umbrella headers, and have features that Xca

[2020-05-29 14:38] PatrickKuijpers opened #214 "Order of files included recursively is random"
I'm including all files in a single directory like so `target.include_files = [target.name + "/**/*.*"]`
It seems to me that all files and (sub)directories in are ordered randomly. It would be great if this would happen in a bit more ordered way, I'd say alphabetically, by default. (and directories first, then separate files if possible)

I also added some additional files outside this dir. It see

[2020-05-29 18:03] igor-makarov commented on #214
According to my project the order is alphabetical.

Can you post the directory tree perhaps?

[2020-06-03 20:17] #213 closed

[2020-06-08 10:01] PatrickKuijpers commented on #214
I've defined the source file in the Cakefile like this:
[code]

This results in the following directory tree:
![Screenshot 2020-06-08 at 11 59 21](https://user-images.githubusercontent.com/4254366/84017859-8ffec280-a97f-11ea-97d1-ba87490511c0.png)

As you can see, the files I've defined in the Cakefile are created in that order, even the root directories themselves. But the files and directories i

[2020-06-08 13:27] igor-makarov commented on #214
Ok, I've checked and there is no defined order at the moment.
My suggestion is to sort the generated project before saving using the `before_save` hook:
[code]

[2020-06-08 15:23] PatrickKuijpers commented on #214
That's a great and simple trick, thanks!
The current result look much better already:
![Screenshot 2020-06-08 at 17 08 25](https://user-images.githubusercontent.com/4254366/84046959-0b299e00-a9ab-11ea-9ef7-533bf7e039bf.png)

I've got 2 more questions:

1) If I may be really picky: it's ordering both files and directories now. I suppose there isn't an easy way to prioritise 'directories then files'

[2020-06-08 15:36] igor-makarov commented on #214
The sort order is corresponding to how macOS sorts directories by default - together with files.

You can't put the sort in `after_save` because for that you would need to reopen the saved project file. `before_save` is called, as expected, before saving the project to disk.

You need to call the sort on the generated project, which is different from the `c` argument you have in the provided snipp

[2020-07-02 12:48] PatrickKuijpers opened #215 "Swift packagemanager not working"
When a package is added using the swift packagemanager, then the new package is removed as soon as I run `xcake make`. Is it not supported by xcake, is it bugged, or am I missing some necessary configuration in the cakefile?

[2020-07-02 12:50] igor-makarov commented on #215
Currently, using SwiftPM together with Xcake is not supported. I'd welcome a PR for it though!

[2020-07-02 12:51] #214 closed

[2020-07-02 12:51] #46 closed

[2020-07-02 13:52] igor-makarov commented on #215
@PatrickKuijpers I did remember it was somewhat complicated so I checked. Apparently Apple's way of adding SwiftPM packages to an Xcode project is quite cumbersome behind the scenes, and doesn't have a single `Package.swift` that centralizes all the dependencies:

## 1 - Reference the package, similar to the manifest file
[code]

## 2 - Create a built package product:
[code]

## 3 - Create a speci

[2020-07-02 14:49] igor-makarov commented on #215
@PatrickKuijpers so basically to add support for this we are gonna need to:
1. Figure out what the new DSL syntax in the `Cakefile` should be, if any.
2. Implement the DSL and the intermediate representation.
3. Implement the PBX creator.

[2020-07-02 14:53] igor-makarov commented on #215
@PatrickKuijpers keep in mind that the DSL would be repeating **for each package** added and would need to replicate the package requirements syntax.

[2020-07-05 11:10] igor-makarov commented on #215
Nerd-sniping does work - @PatrickKuijpers I've managed to figure out a way to do what you were asking for - but not part of Xcake (doesn't seem related). 😂

New gem, called [Xcoed](https://rubygems.org/gems/xcoed/versions/0.0.1) (Xcode-coed) - you create a SwiftPM `Package.swift` file, and it matches it with your project.

In the `Cakefile` you can add it to the `before_save` phase like so:
[code]

[2020-07-05 11:30] igor-makarov commented on #215
@PatrickKuijpers here is the demo app for this Xcoed utility: https://github.com/igor-makarov/DemoXcoed

[2020-07-06 12:13] pedyard opened #216 "UI Test Target Application"
After running `xcake make` and creating a UI Testing target, it would seem that the Target Application is never set. Is this a problem with XCake or does this explicitly have to be specified in the Cakefile?

[2020-07-06 12:33] igor-makarov commented on #216
Good catch! It's a bug - fixed it now, please update to 0.9.4 💪🏻

[2020-07-06 12:33] #216 closed

[2020-07-06 13:01] pedyard commented on #216
Thank you for the quick response. I've updated to 0.9.4, but it doesn't seem to be working. The Target Application is still set to None. The target itself is called ProjectXUITests whereas the product name is ProjectX, if that matters.

[2020-07-06 13:32] igor-makarov commented on #216
I'm using it in my own project - the Xcode UI isn't appearing correctly but the tests are running okay.

[2020-07-06 13:32] pedyard commented on #216
Ignore that. Even though Target Application is still none, the tests still successfully run, so it's ok.

[2020-07-07 13:15] #215 closed

[2020-07-27 09:18] rtjinasjoe commented on #215
@igor-makarov

Thanks for the demo app!  :)
I only came across this error when running `bundle exec xcake make`

[code]

Is it also possible to support other package dependency requirements, such as `revision` and `branch`?

The Package.swift file looks like this:
[code]

[2020-07-27 12:57] igor-makarov commented on #215
Hi @rtjinasjoe!

I have added the support for `branch` and `revision` requirements.
Please get the latest Xcoed version [![Gem](https://img.shields.io/gem/v/xcoed.svg)](https://rubygems.org/gems/xcoed).

In the future, make sure to [open an issue on Xcoed](https://github.com/igor-makarov/xcoed/issues/new) repo, so we can discuss it there 💪🏻

[2020-07-27 19:48] rtjinasjoe commented on #215
Thanks @igor-makarov for the quick and awesome fix!

Will do! :)

[2021-02-08 01:18] joprice opened #221 "duplicate Info.plist"
I tried using this on a new project I created with xcode, but I get the following error:

[code]

[2021-02-08 07:32] igor-makarov commented on #221
Could you post your `Cakefile`? It looks like you have got some `Info.plist` preprocessing set up.

[2021-02-08 13:59] joprice commented on #221
I'm mostly using the defaults, to see what's actually needed by a empty project:

[code]

[2021-02-08 14:19] igor-makarov commented on #221
You're right, it looks very concise. Do you mind posting the directory structure? Or, perhaps isolate the issue to a demo project?

[2021-02-08 15:04] joprice commented on #221
Here's a new project generated by xcode with a cakefile added: https://github.com/joprice/cakefile-test

[2021-02-08 16:11] igor-makarov commented on #221
Hah, I see what the problem is. It seems an Xcode bug. Xcake generates the project with the assumption that the `Info.plist` is located at `${TARGET_NAME}/Supporting Files/Info.plist`.

In the project you've created, the file is located at `${TARGET_NAME}/Info.plist`. Because this is not the conventional location, the `.plist` file is handled as a regular resource file.

Xcode sees that both the r

[2021-02-08 16:11] #221 closed

[2021-02-08 18:11] joprice commented on #221
I tried that and I'm getting the same error. I removed the tests as well to simplify it further.

[2021-02-08 18:22] igor-makarov commented on #221
My bad, the target is `scratchpad` - right? I wrote `scratch` because I copied from an earlier comment. Updated the comment to fix.

[2021-02-08 18:23] joprice commented on #221
Oops I had two repos with those names that I was switching between. It works now. Thank you!

[2021-02-08 18:35] joprice commented on #221
I must be missing something else, because the project does not seem to be runnable. I had to edit the scheme and set an executable. That added this new xml block:

[code]

Has the scheme format changed in the xcode 12?

[2021-02-08 19:03] igor-makarov commented on #221
Yeah, I looked at it and it seems that Xcode has changed its expectations of schemes, again.

Personally, I use an `.xcworkspace` and keep my schemes in it (without generation by Xcake). These files aren't large and change very infrequently, making keeping them in git not too troublesome.

[2022-02-23 15:33] Goldy-74 opened #223 "Not able to Run the Xcode project created by xcake make command, maybe configuration or Executable selection in scheme issue in target."
Hi,
I am new in the, Creating Project via CLI,
I tried your CakeFile, [https://github.com/igor-makarov/xcake/blob/main/example/app/CakeMania/Cakefile](url), and by running command `xcake make`, created successfully the Xcode project but the thing is I am not able to run it via Xcode (with run button or Command + R), I think some issue is in the configuration in the project target(Please see the at

[2022-02-24 11:28] igor-makarov commented on #223
From your screenshots, it looks like you need to select the executable in your scheme to run it. Can you try that and see if it helps?

[2022-02-24 12:15] Goldy-74 commented on #223
@igor-makarov , I know and It worked, but what I need without opening Xcode it should work. just from the command line.
`xcake make`
How It can be done? any suggestion, I have already used the sample project that also require the same approach for selecting excutable from scheme.

[2022-02-24 13:50] #223 closed

[2022-02-24 13:51] igor-makarov commented on #223
I'm gonna be releasing new version with fix shortly.

[2022-02-24 13:57] igor-makarov commented on #223
New version with fix available: [xcake 0.12.1](https://rubygems.org/gems/xcake/versions/0.12.1)

[2022-04-02 22:33] srbaker opened #225 "Can't run my program, because the framework isn't included."
Hi,

I am new to xcake.

(The Repo is over here: https://github.com/srbaker/Raphael)

I have the following Cakefile, and it references a framework which is built already that I just want to add to my project:

[code]

When I build and run in Xcode, it can't find the framework.  And it's not added to the built app.

The error is:

[code]

I suspect this is a complete newbie error on my part.  Thank

[2022-04-03 08:56] igor-makarov commented on #225
Hey!

From the looks of it, you're building and linking your app successfully. Is the framework copied over to the `Frameworks` folder in the app bundle?

If so, my guess is the dylib loader is missing some rpath to know where to load `Renaissance.framework/Renaissance` from. However, I'm not a big expert on rpaths on macOS.

[2022-09-29 16:03] samuelsainz opened #226 "Avoid setting a specific Build Setting"
### Description

After generating the project with `xcake` there are a few user-defined build settings set that I don't need—for example `MTL_ENABLE_DEBUG_INFO` or `MTL_FAST_MATH`.

1. Is there a way I can prevent xcake from creating a particular setting? I saw that they're defined in the [base project](https://github.com/igor-makarov/xcake/blob/main/spec/fixtures/integration/simple_with_info_plis

[2022-10-14 18:05] samuelsainz opened #227 "Localized resources are not being created correctly"
## Description

I have noticed that for Localized resources as .storyboards, .xib or .plist, the references are not being generated correctly. I looked into the closed issues to see if this has happened to someone before but I didn't find anything.

**Expected:**

<img width="377" alt="expected" src="https://user-images.githubusercontent.com/8599681/195887383-27f086b5-1daf-4617-95eb-9b107bd4b31f.p

[2022-10-14 18:18] igor-makarov commented on #227
@samuelsainz thank you for the detailed report! Can you clarify whether this is only a cosmetic issue (folder looks wrong) or does this also result in incorrect build products as a result?

[2022-10-25 17:00] igor-makarov commented on #227
@samuelsainz I've looked at the sample project you provided, and tried to replicate the scenario you described, the `.storyboard` and `.strings` having the same filename.

I've added the files to Xcode and this is the group structure I've gotten:

<img width="301" alt="Screen Shot 2022-10-25 at 19 41 17" src="https://user-images.githubusercontent.com/16595309/197833077-e500ec55-7b66-4706-8d9d-0b11

[2022-10-26 15:03] samuelsainz commented on #227
@igor-makarov I see, we will rename the duplicated resources then. Thanks a lot for digging into it Igor!

 If you open a feedback to Apple for that please share the link so we can follow up :)

[2022-10-27 08:07] igor-makarov commented on #227
@samuelsainz there isn't a way to share a link in Apple Feedback, but the ID is FB11718625.

[2022-10-27 08:07] igor-makarov commented on #227
Closing this issue.

[2022-10-27 08:07] #227 closed

[2022-10-31 09:10] nicolasrostan commented on #214
To sort keeping the groups at the top:

[code]

[2022-10-31 18:38] samuelsainz commented on #221
@igor-makarov hey Igor, is there a way to prevent Xcake from creating the xcschemes that it creates by default? I am deleting the generated xcschemes using the `after_save` hook but I'm wondering if there's a better way to do that